@use './variables.scss' as v;

.page {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
}
.site_highlight_title {
	font-style: italic;
	font-size: 3.5rem;
	color: v.$global-tertiary-color;
	font-weight: 800;
	text-shadow: -1px 3px 0 0 #000;
}