.page {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
}


.site_highlight_title {
	font-style: italic;
	font-size: 3rem;
	color: #0083E0;
	font-weight: 800;
	text-shadow: -3px 3px 0 0 #000;
}