@use "./_variables.scss" as v;

@mixin h-two-plus-highlight {
    font-size: clamp(2.5rem, 4.167vw, 5rem);
    font-weight: 900;
    color: v.$global-secondary-color;
    margin-bottom: 1.667vw;
    line-height: clamp(4rem, 3.75vw, 4rem);
    position: relative;
    .headingHighlight {
        color: v.$global-primary-color;
        font-style: italic;
        font-size: clamp(3.5rem, 5vw, 6rem);
        text-shadow: -5px 5px 0 0 v.$global-secondary-color;
        margin: 0 1rem;
    }
}

@mixin text-gradient {
	background: linear-gradient(v.$global-tertiary-color, v.$global-black) border-box;
	border: 4px solid transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
