/* Colors*/
$site-primary-color: #2fa5f4;
$site-secondary-color: #0c0050;
$site-accent-color: #CE2029;

$site-light-blue: #0083e0;
$site-orange: #d69e00;

$site-section-background-color: #f1f1f1;

$soft-black-1: #3b3b3b;
$soft-black-2: #2b2b2b;

$site-light-gray: #f1f1f1;

$paragraph-global-color: #1a1a1a;

$link-color: #007bff;

$primary-button-color: #CE2029;
$primary-button-hover-color: #B22234;

$secondary-button-color: #65A0E5;
$secondary-button-hover-color: #E0E0E0;

$tablet-breakpoint: 1024px;
$mobile-breakpoint: 767px;

$heading-black-1: #3d3d3d;
$heading-black-2: #262626;
