@use "./variables.scss" as v;
@use "./mixIn.scss" as m;
@use "./base.scss";

.aboutUs {
  margin: 0 auto;
  &__content {
	background-color: v.$site-light-gray;
	padding: 0.5rem 0;
	border-radius: 1em;
  }
  section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  section:not(.aboutUs__hero) {
    width: 75vw;
    min-height: 80vh;
    margin: 0 auto 5rem auto;
	@media (max-width: v.$tablet-breakpoint) {
		width: 100%;
	}
  }

  h2 {
    @include m.h-two-plus-highlight;
  }

  a,
  p {
    margin: 1rem 0;
    font-size: clamp(1rem, 1.5vw, 1.2rem);
    color: v.$soft-black-2;
  }
  @media (max-width: v.$mobile-breakpoint) {
    padding: 0 1rem;
  }
}

.section_highlight {
  padding: 1rem;
  border-radius: 1em;
}

.aboutUs__hero {
  height: 60vh;
  border-bottom: 1px solid v.$site-light-gray;
  text-align: center;
  h1 {
    font-size: 10vw;
    font-weight: 300;
    color: v.$soft-black-2;
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__subtitle {
    font-size: clamp(1.5rem, 2vw, 2rem);
    font-weight: 600;
    margin-left: 10%;
  }
  &__stats {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
	gap: 2rem;
  }
  &__stat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	@include m.text-gradient;
	&__number {
		font-size: clamp(2rem, 2vw, 3rem);
		font-weight: 800;
	}
	&__label {
		font-size: clamp(1rem, 1vw, 1.5rem);
		font-weight: 600;
   	}
  }
}

.aboutUs__bio,
.aboutUs__promise {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 3rem 0;
  border-radius: 1em;
  padding: 1rem;
  @media (max-width: v.$mobile-breakpoint) {
    flex-direction: column;
    height: 100%;
  }
  h2 {
    @include m.h-two-plus-highlight;
  }
  &__imageContainer {
    background-color: v.$site-light-blue;
    border-radius: 2em;
    padding: 2rem;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
	transition: transform 0.5s ease-in-out;
	margin: 1rem;
    img {
      border-radius: 50%;
      border: 3px solid #fff;
      height: 400px;
      width: 400px;
	  @media (max-width: v.$mobile-breakpoint) {
		height: 250px;
		width: 250px;
	  }
    }
  }
  &__content {
    width: 50%;
	margin: 1rem;
    @media (max-width: v.$mobile-breakpoint) {
      width: 100%;
    }
  }
}

.aboutUs__bio__imageContainer {
	transform: perspective(1000px) rotateX(20deg) rotateY(20deg);
	animation: transform3dLeft ease-in-out;
	animation-timeline: view();
	animation-range: 30% 90%;
}
.aboutUs__promise__imageContainer {
	transform: perspective(1000px) rotateX(20deg) rotateY(-20deg);
	animation: transform3dRight ease-in-out;
	animation-timeline: view();
	animation-range: 30% 90%;
}

.aboutUs__benefits {
  h2 {
    @include m.h-two-plus-highlight;
    margin: 2rem 0;
    text-align: center;
  }
  &__container {
    display: flex;
    width: 75vw;
    height: 60vh;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
	margin: 0 auto;
    @media (max-width: 767px) {
      flex-direction: column;
      height: 100%;
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;

    div {
      background-color: #fff;
      border-radius: 50%;
      padding: 1rem;
      box-shadow: 0 0 5px 0 #eee;
	  animation: zoomIn ease-in-out;
	  animation-timeline: view();
	  animation-range: 0 40%;
    }
    svg {
      font-size: 3rem;
      width: 150px;
      min-height: 150px;
      max-width: 150px;
      max-height: 150px;
      position: relative;
    }

    h3 {
      font-size: 1.5rem;
      font-weight: 600;
      color: v.$soft-black-2;
      position: relative;
    }
  }
}

.aboutUs__contactUs {
  padding: 1rem;
  border-radius: 1em;
  h2 {
    margin-top: 2rem;
    text-align: center;
    line-height: 8rem;
  }
  &__cardContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    gap: clamp(1rem, 2vw, 3rem) clamp(1rem, 2vw, 3rem);
    padding: 5% 0;
    @media (max-width: v.$mobile-breakpoint) {
      flex-direction: column;
    }

    &__card {
      border-radius: 1em;
      background-color: #fdfdfd;
      box-shadow: 0 0 5px 0 #ddd;
      padding: 1rem;
      text-align: center;
      width: 33%;
      @media (max-width: v.$tablet-breakpoint) {
        width: 100%;
      }
      svg {
        margin: 1rem auto;
        font-size: 3rem;
        color: #0083e0;
      }
      h2 {
        @include m.h-two-plus-highlight;
        font-size: 1.5rem;
        margin: 1rem 0;
      }
      h3 {
        margin-top: 1rem;
        font-size: 1.3rem;
        font-weight: 700;
        color: #2b2b2b;
      }
      h4 {
        margin-top: 1rem;
        margin-bottom: 0.25rem;
        font-size: 1.3rem;
        font-weight: 600;
        color: #2b2b2b;
      }
    }
  }
}

@keyframes zoomIn {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes slideInUp {
	0% {
		transform: translateY(100%);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes transform3dLeft {
	0% {
		transform: perspective(1000px) rotateX(20deg) rotateY(20deg);
	}
	100% {
		transform: perspective(1000px) rotateX(0deg) rotateY(0deg);
	}
}

@keyframes transform3dRight {
	0% {
		transform: perspective(1000px) rotateX(20deg) rotateY(-20deg);
	}
	100% {
		transform: perspective(1000px) rotateX(0deg) rotateY(0deg);
	}
}