@use "./variables.scss" as v;
@use "sass:color";

.accoricManagement {
  margin: 0 auto;
  padding-bottom: 1rem;
  section:not(:first-child) {
    width: 80vw;
    height: clamp(80vh, 100vh, 150vh);
    margin: 10rem auto;
  }
  h2 {
    font-size: clamp(1.5rem, 3vw, 5rem);
    letter-spacing: -0.05em;
    font-weight: 800;
    color: v.$site-secondary-color;
  }
}

.accoricManagement__header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 3rem 0;
  gap: 2rem;
  background: linear-gradient(to top, #fff 50%, color.adjust(v.$site-primary-color, $lightness: 20%) 100%);
  h1 {
    font-size: clamp(2rem, 7vw, 10rem);
    letter-spacing: -0.05em;
    font-weight: 700;
    color: v.$site-secondary-color;
    text-shadow: 0 7px 0 0 v.$site-primary-color;
  }
  p {
    text-align: center;
    font-weight: 500;
    font-size: clamp(1.5rem, 3vw, 2rem);
    color: v.$site-secondary-color;
  }
  @media (max-width: 768px) {
    height: 100vh;
  }
}

.accoricManagement__content__1 {
  height: 80vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  &__image {
    transform: translateY(-40vh) scale(1.2);
    position: sticky;
    top: 100%;
    bottom: 0;
    width: 40vw;
    height: 40vh;
    object-fit: contain;
    border-radius: 0.5em;
    margin: 0 1rem;
  }
  &__text {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    text-align: left;
    p {
      font-size: 1.5rem;
      letter-spacing: -0.05em;
      font-weight: 500;
      color: v.$site-secondary-color;
    }
  }
}

.accoricManagement__features {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  h3 {
    font-size: 1.5rem;
    letter-spacing: -0.05em;
    font-weight: 500;
    color: v.$site-secondary-color;
  }
  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    &__list {
      width: 30%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      flex-wrap: wrap;
      &__item {
        background-color: color.adjust(v.$site-primary-color, $lightness: 30%);
        border-radius: 2em;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        &__icon {
          background-color: rgba(237, 251, 255, 0.822);
          border-radius: 50%;
          padding: 0.5rem;
          max-width: 5vw;
          max-height: 5vw;
        }
      }
    }
    &__image {
      object-fit: contain;
      border-radius: 0.5em;
      transform: perspective(1000px) rotateY(15deg);
      filter: drop-shadow(-15px 10px 2px #d1d1d1);
    }
  }
}

.accoricManagement__content__2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  
}

.accoricManagement__video {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  p {
    font-size: 1.5rem;
    letter-spacing: -0.05em;
    font-weight: 500;
    color: v.$site-secondary-color;
    text-align: center;
  }
}

.accoricManagement__content__3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    &__lottie {
      width: 10vw;
      height: 10vw;
    }
    &__image1 {
      width: clamp(200px, 30vw, 350px);
    }
    &__image2 {
      width: clamp(100px, 20vw, 250px);
    }
  }
}


