@use "./variables.scss" as v;
@use "./keyframes.scss";

.accoricDashcard {
  background-color: #fafafa;
  padding-bottom: 100vh;
  position: relative;
  &__header {
    height: 90vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
    overflow: hidden;
    &__h2, &__h1 {
      display: flex;
      gap: 10vw;
      font-size: clamp(2rem, 10vw, 7rem);
      font-weight: 700;
      text-wrap: nowrap;
      padding-bottom: 5vh;
      span {
        text-wrap: nowrap;
        text-shadow: 0px 3px 0px #b2a98f,
        0px 14px 10px rgba(0,0,0,0.15),
        0px 24px 2px rgba(0,0,0,0.1),
        0px 34px 30px rgba(0,0,0,0.1);
      }
    }
    &__h1 {
      color: #ffefc0;
      margin-bottom: 5vh;
      z-index: 4;
      animation: 35s linear alternate infinite carouselLeft;
    }
    &__h2 {
      margin-top: 5vh;
      animation: 35s linear alternate infinite carouselRight;
    }

  }
}
.accoricDashcard__splineContainer {
  position: sticky;
  position: -webkit-sticky;
  top: 10%;
  width: 100%;
  height: 100vh;
  z-index: 2;
  margin-bottom: -100vh;
}

//   section {
//     height: 150vh;
//     display: flex;
//     flex-direction: column;
//     gap: 2rem;
//     z-index: 1;

//     h2 {
//       margin-top: 10%;
//       margin-bottom: 10%;
//       position: sticky;
//       top: 20%;
//       text-align: center;
//       font-size: 3rem;
//       font-weight: 800;
//       text-shadow: -3px 3px 0 0 rgb(255, 255, 255);
//       color: v.$site-secondary-color;
//       z-index: 3;
//     }
//   }
//   section:nth-child(even) {
//     background-color: #b0dfff;
//   }
//   section:nth-child(7) {
//     h2 {
//       margin-bottom: 45%;
//     }
//   }
// }

// .accoricDashcard__videoPlayer {
//   margin-left: 5%;
//   width: 35vw;
//   height: 35vh;
//   z-index: 2;
// }


