@use './keyframes.scss';
@use "sass:color";

.accoricManagement {
  margin: 0 auto;
  padding-bottom: 1rem;
  section:not(:first-child) {
    max-width: 1200px;
    margin: 10rem auto;
    @media (max-width: v.$mobile-breakpoint) {
      margin: 5rem auto;
    }
  }
  @media (max-width: v.$tablet-breakpoint) {
    section:not(:first-child) {
      width: 90vw;
    }
  }
  h2 {
    font-size: clamp(2rem, 2.5vw, 5rem);
    font-weight: 800;
    color: v.$global-secondary-color;
    text-align: center;
  }
  h3 {
    font-size: clamp(1.15rem, 1.35vw, 1.35rem);
    font-weight: 700;
    color: v.$global-secondary-color;
  }
  p {
    font-size: clamp(1.1rem, 1.15vw, 1.15rem);
    font-weight: 400;
  }
}

.accoricManagement__header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 3rem 0;
  gap: 2rem;
  background: linear-gradient(to top, #fff 50%, color.adjust(v.$global-primary-color, $lightness: 20%) 100%);
  @media (max-width: v.$tablet-breakpoint) {
    justify-content: flex-start;
    height: 50vh;
  }
  @media (max-width: v.$mobile-breakpoint) {
    height: 40vh;
  }
  h1 {
    font-size: clamp(3.5rem, 7vw, 10rem);
    text-align: center;
    letter-spacing: -0.05em;
    font-weight: 700;
    color: v.$global-secondary-color;
    text-shadow: 0 7px 0 0 v.$global-primary-color;
    @media (max-width: 768px) {
      text-shadow: 0 4px 0 0 v.$global-primary-color;
    }
  }
  p {
    text-align: center;
    font-size: clamp(1.1rem, 2vw, 2rem);
    font-weight: 700;
    color: v.$global-secondary-color;
  }
}

.accoricManagement__content__1 {
  height: 80vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  @media (max-width: v.$tablet-breakpoint) {
    flex-direction: column-reverse;
    align-items: center;
    height: 100%;
  }
  &__image {
    min-width: 300px;
    min-height: 400px;
    object-fit: contain;
    border-radius: 0.5em;
    margin: 0 1rem;
    padding: 0 1rem;
    animation: AccoricManagementHeroImage ease-in-out;
    animation-timeline: view();
    animation-range: -35% 40%;
    animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1.0);
    @media (max-width: v.$tablet-breakpoint) {
      animation: none;
    }
  }
  &__text {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    text-align: left;
    @media (max-width: v.$tablet-breakpoint) {
      max-width: 100%;
    }
    h2 {
      text-align: left;
    }
    p {
      font-size: 1.35rem;
      font-weight: 500;
    }
  }
}

.accoricManagement__pastClients {
  h2 {
    text-align: center;
  }
}

.accoricManagement__features {
  height: 120vh;
  @media (max-width: v.$tablet-breakpoint) {
    height: auto;
    overflow-x: hidden;
  }
  h3 {
    font-size: 1.5rem;
    font-weight: 500;
    color: v.$global-secondary-color;
  }
  &__sticky {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    position: sticky;
    top: 15%;
  }
  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: v.$tablet-breakpoint) {
      flex-direction: column;
      gap: 3rem;
    }
    &__list {
      max-width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      flex-wrap: wrap;
      overflow-x: hidden;
      @media (max-width: v.$tablet-breakpoint) {
        max-width: 100%;
      }
      &__item {
        background-color: color.adjust(v.$global-primary-color, $lightness: 30%);
        border-radius: 2em;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
        width: 100%;
        @media (max-width: v.$mobile-breakpoint) {
          flex-direction: column;
          text-align: center;
        }
        &__icon {
          background-color: rgba(237, 251, 255, 0.822);
          border-radius: 50%;
          padding: 0.5rem;
          aspect-ratio: 1/1;
          width: clamp(80px, 5vw, 100px);
          height: clamp(80px, 5vw, 100px);
        }
      }
    }
    &__image {
      padding-left: 5%;
      object-fit: contain;
      border-radius: 0.5em;
      transform: perspective(1000px) rotateY(15deg);
      filter: drop-shadow(-15px 10px 2px #d1d1d1);
    }
  }
}

.accoricManagement__content__2 {
  max-width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  &__text {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
    @media (max-width: v.$tablet-breakpoint) {
      width: 100%;
    }
  }
  @media (max-width: v.$tablet-breakpoint) {
    flex-direction: column;
  }
}

.accoricManagement__video {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  p {
    font-size: 1.5rem;
    letter-spacing: -0.05em;
    font-weight: 500;
    color: v.$global-secondary-color;
    text-align: center;
  }
}

.accoricManagement__content__3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow-x: hidden;
  p {
    max-width: 800px;
    margin: 1.5rem auto;
    font-size: clamp(1.1rem, 1.15vw, 1.15rem);
    font-weight: 500;
    line-height: 2;
  }
  &__sticky {
    position: sticky;
    top: 20%;
    gap: 1rem;
  }
  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    @media (max-width: v.$tablet-breakpoint) {
      flex-direction: column;
    }
    &__lottie {
      width: clamp(20px, 20vw, 200px);
      height: clamp(100px, 20vw, 200px);
    }
    &__image1 {
      width: clamp(300px, 30vw, 350px);
    }
    &__image2 {
      width: clamp(200px, 20vw, 250px);
    }
  }
}


