@use "./variables.scss" as v;
@use "./keyframes.scss";

.accoricDashcard {
  background-color: #fafafa;
  padding-bottom: 1rem;
  min-height: 100vh;
  &__header {
    overflow-x: hidden;
    &__span {
      position: absolute;
      top: 25vh;
      left: 10%;
      font-size: clamp(2rem, 10vw, 7rem);
      font-weight: 700;
      text-shadow:
        16ch 0 5px v.$heading-black-1,
        -16ch 0 5px v.$heading-black-1,
        -32ch 0 0px v.$heading-black-2,
        32ch 0 0px v.$heading-black-2,
        50ch 0 5px v.$heading-black-2,
        -50ch 0 0 v.$heading-black-2;
      color: v.$heading-black-1;
      animation: 30s linear alternate infinite carouselLeft;
    }
    &__h1 {
      z-index: 4;
      position: absolute;
      top: 70vh;
      left: 10%;
      font-size: clamp(2rem, 10vw, 7rem);
      font-weight: 700;
      text-shadow:
        25ch 0 0 v.$heading-black-2,
        -25ch 0 0 v.$heading-black-2,
        -50ch 0 5px v.$heading-black-1,
        50ch 0 5px v.$heading-black-1,
        75ch 0 0 v.$heading-black-2,
        -75ch 0 0 v.$heading-black-2;
      color: v.$heading-black-1;
      animation: 40s linear alternate infinite carouselRight;
    }
  }
  section {
    height: 150vh;
    display: flex;
    flex-direction: column;

    gap: 2rem;
    z-index: 1;

    h2 {
      margin-top: 10%;
      margin-bottom: 10%;
      position: sticky;
      top: 20%;
      text-align: center;
      font-size: 3rem;
      font-weight: 800;
      text-shadow: -3px 3px 0 0 rgb(255, 255, 255);
      color: v.$site-secondary-color;
      z-index: 3;
    }
  }
  section:nth-child(even) {
    background-color: #b0dfff;
  }
  section:nth-child(7) {
    h2 {
      margin-bottom: 45%;
    }
  }
}
.accoricDashcard__spline {
  position: sticky;
  top: 10vh;
  left: 0;
  z-index: 2;
  max-height: 100vh;
  margin-bottom: 10%;
  @media (max-width: v.$tablet-breakpoint) {
    top: 30vh;
    margin-bottom: 20%;
  }
}


.accoricDashcard__videoPlayer {
  margin-left: 5%;
  width: 35vw;
  height: 35vh;
  z-index: 2;
}


