@use 'sass:color';
@use './variables.module' as v;
@use './base.scss';

/* Primary Button*/
.sitePrimaryButton {
	border: 2px solid v.$primary-button-color;
	background-color: v.$primary-button-color;
	padding: clamp(0.75rem, 1.5vw, 1rem) clamp(2rem, 4vw, 3.5rem);
	color: white;
	border-radius: 0.25em;
	text-align: center;
	transition: all 0.2s;
	position: relative;
	&:hover {
		transform: translateY(-3px);
		box-shadow: 0 10px 20px rgb(216, 216, 216);
	}
	&:active {
		transform: translateY(-1px);
		box-shadow: 0 5px 10px rgb(216, 216, 216);
	}
	&::after {
		content: '';
		display: inline-block;
		height: 100%;
		width: 100%;
		border-radius: 0.25em;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		transition: all 0.4s;
	}
	&::after {
		background-color: v.$primary-button-color;
	}
	&:hover::after {
		transform: scaleX(1.2) scaleY(1.4);
		opacity: 0;
	}
}

/*Secondary Button*/

.siteSecondaryButton {
	border: 2px solid v.$secondary-button-color;
	background-color: white;
	padding: clamp(0.75rem, 1.5vw, 1rem) clamp(2rem, 4vw, 3.5rem);
	color: black;
	border-radius: 0.25em;
	text-align: center;
	transition: all 0.2s;
	position: relative;
	&:hover {
		transform: translateY(-3px);
		box-shadow: 0 10px 20px rgb(216, 216, 216);
	}
	&:active {
		transform: translateY(-1px);
		box-shadow: 0 5px 10px rgb(216, 216, 216);
	}
	&::after {
		content: '';
		display: inline-block;
		height: 100%;
		width: 100%;
		border-radius: 0.25em;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		transition: all 0.4s;
	}
	&::after {
		background-color: v.$secondary-button-color;
	}
	&:hover::after {
		transform: scaleX(1.2) scaleY(1.4);
		opacity: 0;
	}
}

/*Desktop Navigation Bar*/

.desktopNavBar {
	margin: 0 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	&__menu {
		list-style: none;
		display: flex;
		margin: 0;
		padding: 0;
		&__Item {
			font-size: 1rem;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: stretch;
			text-align: center;
			font-weight: 600;
			&__Link {
				padding: 2rem 1rem;
				background-color: transparent;
				color: v.$soft-black-1;
				transition: all 0.3s ease-in-out;
				position: relative;
				&:hover {
					color: v.$site-secondary-color;
				}
				&::after {
					position: absolute;
					bottom: 0;
					left: 0;
					transform: scaleX(0);
					transition: transform 0.3s ease-in-out;
					content: '';
					display: block;
					width: 100%;
					height: 2px;
					background-color: v.$site-secondary-color;
				}
				&:hover::after {
					transform: scaleX(1);
				}
			}
		}
	}
}

/*Past Clients*/
.clientContainer {
	display: flex;
	flex-wrap: wrap;
	gap: 0 2rem;
	max-width: 1000px;
	margin: 2rem auto;
	justify-content: center;
	align-items: center;
	@media (max-width: 1024px) {
		max-width: 90vw;
	}

	.clientImage {
		width: clamp(150px, 15vw, 225px);
		border-radius: 1rem;
		filter: grayscale(100%);
		transition: all 0.3s ease-in-out;
		&:hover {
			filter: grayscale(0%);
			transform: scale(1.1);
		}
	}
}

/*Contact CTA*/
.contactCTA {
	background-color: v.$site-light-gray;
	padding: 1rem 2rem;
	border-radius: 1em;
	margin: 1rem 0;
	width: 100%;
	height: 150px;
	.contactCTA__title {
		font-size: 2rem;
		margin: 0;
	}
	.contactCTA__description {
		font-size: 1.2rem;
	}
	.contactCTA__button {
		font-size: 1.5rem;
		padding: 0.5rem 3.5rem;
		background-color: v.$primary-button-color;
		color: #fff;
		border-radius: 0.5em;
		transition: all 0.3s ease-in-out;
		&:hover {
			background-color: v.$primary-button-hover-color;
		}
	}
}

/*Video Player*/

.videoPlayer {
    width: 45vw;
    height: 45vh;
    object-fit: cover;
    border-radius: 1em;
    margin-top: 2rem;
	box-shadow: 10px 10px 2px 0 v.$site-secondary-color;
}
