@use './variables.module' as v;
@use './_base.scss' as *;

/* Primary Button*/
.sitePrimaryButton {
	background-color: v.$site-accent-color;
	padding: 1rem 3.5rem;
	color: #fff;
	border-radius: 0.5em;
	margin: 1rem;
	transition: all 0.3s ease-in-out;
}

.sitePrimaryButton:hover {
	background-color: v.$primary-button-hover-color;
}

/*Secondary Button*/

.siteSecondaryButton {
	margin: 1rem;
	background-color: v.$secondary-button-color;
	padding: 1rem 3.5rem;
	color: #fff;
	border-radius: 0.5em;
	transition: all 0.3s ease-in-out;
}

.siteSecondaryButton:hover {
	background-color: v.$secondary-button-hover-color;
	color: #1a1a1a;
}

/*Desktop Navigation Bar*/

.siteDesktopNavBar {
	padding: 1rem 2rem;
	display: flex;
	justify-content: space-between;
	align-items: start;
	height: 50px;
}

.siteDesktopNavBar .navListMenu {
	list-style: none;
	display: flex;
	gap: 2rem;
	margin: 0;
	padding: 0;
}

.siteDesktopNavBar .navlistSubmenuItem {
	font-size: 1rem;
}

/*Past Clients*/
.clientContainer {
	display: flex;
	flex-wrap: wrap;
	gap: 0 2rem;
	max-width: 1000px;
	margin: 2rem auto;
	justify-content: center;
	align-items: center;
	@media (max-width: 1024px) {
		max-width: 90vw;
	}

	.clientImage {
		width: clamp(150px, 15vw, 225px);
		border-radius: 1rem;
		filter: grayscale(100%);
		transition: all 0.3s ease-in-out;
		&:hover {
			filter: grayscale(0%);
			transform: scale(1.1);
		}
	}
}

/*Contact CTA*/
.contactCTA {
	background-color: v.$site-light-gray;
	padding: 1rem 2rem;
	border-radius: 1em;
	margin: 1rem 0;
	width: 100%;
	height: 150px;
	.contactCTA__title {
		font-size: 2rem;
		margin: 0;
	}
	.contactCTA__description {
		font-size: 1.2rem;
	}
	.contactCTA__button {
		font-size: 1.5rem;
		padding: 0.5rem 3.5rem;
		background-color: v.$primary-button-color;
		color: #fff;
		border-radius: 0.5em;
		transition: all 0.3s ease-in-out;
		&:hover {
			background-color: v.$primary-button-hover-color;
		}
	}
}

