@use 'sass:color';
@use './variables.scss' as v;
@use './mixins.scss' as m;
@use './base.scss';

/* Primary Button*/
.sitePrimaryButton {
	border: 2px solid v.$primary-button-color;
	background-color: v.$primary-button-color;
	padding: clamp(0.75rem, 1.5vw, 1rem) clamp(2rem, 4vw, 3.5rem);
	color: white;
	border-radius: 0.25em;
	text-align: center;
	transition: all 0.2s;
	position: relative;
	&:hover {
		transform: translateY(-3px);
		box-shadow: 0 10px 20px rgb(216, 216, 216);
	}
	&:active {
		transform: translateY(-1px);
		box-shadow: 0 5px 10px rgb(216, 216, 216);
	}
	&::after {
		content: '';
		display: inline-block;
		height: 100%;
		width: 100%;
		border-radius: 0.25em;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		transition: all 0.4s;
	}
	&::after {
		background-color: v.$primary-button-color;
	}
	&:hover::after {
		transform: scaleX(1.2) scaleY(1.4);
		opacity: 0;
	}
}

/*Secondary Button*/

.siteSecondaryButton {
	border: 2px solid v.$secondary-button-color;
	background-color: white;
	padding: clamp(0.75rem, 1.5vw, 1rem) clamp(2rem, 4vw, 3.5rem);
	color: black;
	border-radius: 0.25em;
	text-align: center;
	transition: all 0.2s;
	position: relative;
	&:hover {
		transform: translateY(-3px);
		box-shadow: 0 10px 20px rgb(216, 216, 216);
	}
	&:active {
		transform: translateY(-1px);
		box-shadow: 0 5px 10px rgb(216, 216, 216);
	}
	&::after {
		content: '';
		display: inline-block;
		height: 100%;
		width: 100%;
		border-radius: 0.25em;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		transition: all 0.4s;
	}
	&::after {
		background-color: v.$secondary-button-color;
	}
	&:hover::after {
		transform: scaleX(1.2) scaleY(1.4);
		opacity: 0;
	}
}

/*Desktop Navigation Bar*/

.desktopNavBar {
	margin: 0 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	&__menu {
		list-style: none;
		display: flex;
		margin: 0;
		padding: 0;
		&__Item {
			font-size: clamp(0.875rem, 1vw, 1rem);
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: stretch;
			text-align: center;
			font-weight: 600;
			&__Link {
				padding: 2rem 1rem;
				background-color: transparent;
				color: v.$soft-black-1;
				transition: all 0.3s ease-in-out;
				position: relative;
				&:hover {
					color: v.$site-secondary-color;
				}
				&::after {
					position: absolute;
					bottom: 0;
					left: 0;
					transform: scaleX(0);
					transition: transform 0.3s ease-in-out;
					content: '';
					display: block;
					width: 100%;
					height: 2px;
					background-color: v.$site-secondary-color;
				}
				&:hover::after {
					transform: scaleX(1);
				}
				&:active {
					transform: scale(0.9);
					background-color: v.$site-secondary-color;
					color: white;
				}
			}
		}
	}
}

/*Past Clients*/
.clientContainer {
	display: flex;
	flex-wrap: wrap;
	gap: 0 2rem;
	max-width: 1000px;
	margin: 2rem auto;
	justify-content: center;
	align-items: center;
	@media (max-width: 1024px) {
		max-width: 90vw;
	}

	.clientImage {
		width: clamp(150px, 15vw, 225px);
		border-radius: 1rem;
		filter: grayscale(100%);
		transition: all 0.3s ease-in-out;
		&:hover {
			filter: grayscale(0%);
			transform: scale(1.1);
		}
	}
}

/*Contact CTA*/
.contactCTA {
	background-color: color.adjust(v.$site-primary-color, $lightness: 40%);
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 1em;
	overflow: hidden;
	margin: 1rem auto !important;
	max-width: 1500px;
	max-height: 150px;
	@media (max-width: v.$mobile-breakpoint) {
		max-width: 90vw;
		max-height: none;
		padding: 1rem 2rem;
		flex-direction: column;
		align-items: stretch;
		justify-content: center;
		text-align: center;
	}
	h2 {
	  font-size: clamp(1.25rem, 2vw, 2rem) !important;
	  margin: 0 !important;
	  color: v.$site-secondary-color !important;
	  font-weight: 700 !important;
	  line-height: 1.5 !important;
	  @media (max-width: v.$mobile-breakpoint) {
		margin: 2rem 0 !important;
	  }
	}
	p {
	  font-size: clamp(1.1rem, 1.2vw, 1.4rem) !important;
	  letter-spacing: -0.05em !important;
	  font-weight: 500 !important;
	  color: v.$site-secondary-color !important;
	  margin: 0 !important;
	}
	a {
		margin: 0 1rem 0 0 !important;
		padding: clamp(0.5rem, 1vw, 1em) clamp(1rem, 2vw, 2rem);
		color: #fff !important;
	}
	&__imageContainer {
	  width: 400px;
	  height: 150px;
	  position: relative;
	  @media (max-width: v.$mobile-breakpoint) {
		margin: 0 auto;
	  }
	  &::before {
		content: "";
		position: absolute;
		transform: translate(-50%, -50%) rotate(-10deg);
		top: 0;
		right: 0;
		width: 3vw;
		height: 100vh;
		z-index: 1;
		background-color: color.adjust(v.$site-primary-color, $lightness: 20%);
		box-shadow: 3vw 0 0 0 color.adjust(v.$site-primary-color, $lightness: 30%);
		@media (max-width: v.$mobile-breakpoint) {
			transform: translate(-20vw, -30%) rotate(-90deg);
		}
	  }
	  &__image {
		height: 100%;
		width: 100%;
		object-fit: cover;
		border-radius: 0.5em;
	  }
	}
	&__content {
	  z-index: 2;
	  margin: 1rem;
	}
  }
  

/*Video Player*/

.videoPlayer {
    width: 45vw;
    height: 45vh;
    object-fit: cover;
    border-radius: 1em;
    margin-top: 2rem;
	box-shadow: 10px 10px 2px 0 v.$site-secondary-color;
}


/*Pricing*/
.pricingFormContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	backdrop-filter: blur(10px);
	background-color: color.adjust(v.$site-primary-color, $lightness: 40%);
	border-radius: 1em;
	margin: 1rem auto;
	padding: 2rem;
	gap: 1rem;
	h2 {
		font-size: clamp(1.5rem, 2vw, 2rem);
		font-weight: 600;
		margin: 0;
		color: v.$site-secondary-color;
		span {
			color: v.$site-secondary-color;
		}
	}
	p {
		color: v.$site-secondary-color;
		font-size: clamp(1rem, 1vw, 1.2rem);
	}
	p:last-child {
		text-align: right;
	}
	a {
		color: v.$site-primary-color;
		&:hover {
			text-decoration: underline;
		}
	}
	.pricingForm {
		width: 90%;
		margin: 0 auto;
		gap: 1rem;
		&__sliderInfoEmployees {
			font-size: clamp(1.2rem, 1.5vw, 1.5rem);
			margin: 0;
		}
		&__sliderInfoCost {
			font-size: clamp(1.2rem, 1.5vw, 1.5rem);
		}
		&__input {
			svg {
				color: v.$site-secondary-color;
			}
			width: 45%;
			@media (max-width: v.$mobile-breakpoint) {
				width: 100%;
			}
		}
		&__employeeNumber {
			width: 100%;
			&__info {
				font-size: clamp(1.2rem, 1.5vw, 1.5rem);
				margin: 0;
			}
			&__slider {
				@media (max-width: v.$mobile-breakpoint) {
					display: none;
				}
			}
			&__radio {
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				text-align: center;
				margin: 1rem 0;
				gap: 1rem;
				@media (max-width: v.$tablet-breakpoint) {
					grid-template-columns: repeat(3, 1fr);
				}
				label {
					border-inline-start-width: 1px;
					border-radius: 0.5rem;
					&::before {
						display: none;
					}
					@media (max-width: v.$mobile-breakpoint) {
						color: v.$site-secondary-color;
					}
				}
			}
		}
		&__button {
			width: 100%;
			button {
				float: right;
			}
		}
	}
}


/*FAQ*/

.faq {
	max-width: 1000px;
	margin: 1rem auto;
	border-radius: 1em;
	h2 {
		font-size: clamp(1.5rem, 2vw, 2rem);
		font-weight: 600;
		margin: 1rem 0;
		color: v.$site-secondary-color;
	}
	.faqQuestion {
		font-weight: 600;
		font-size: clamp(1.0rem, 1.5vw, 1.1rem);
	}
	.faqAnswer {
		font-size: clamp(1.0rem, 1.5vw, 1.1rem)	;
	}
}


/*Quick Contact Cards*/

.contactUsCards {
  padding: 1rem;
  border-radius: 1em;
  text-align: center;
  max-width: 1400px;
  margin: 1rem auto;
  h2 {
    @include m.h-two-plus-highlight;
  }
  p {
	font-size: clamp(1rem, 3vw, 1.5rem);
	color: v.$site-secondary-color;
	margin: 0.5rem 0;
  }
  &__cardContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    gap: clamp(1rem, 2vw, 3rem) clamp(1rem, 2vw, 3rem);
    padding: 5% 0;
    @media (max-width: v.$mobile-breakpoint) {
      flex-direction: column;
    }

    &__card {
      border-radius: 1em;
      background-color: #fdfdfd;
      box-shadow: 0 0 5px 0 #ddd;
      padding: 1rem;
      text-align: center;
      width: 33%;
      @media (max-width: v.$tablet-breakpoint) {
        width: 100%;
      }
      svg {
        margin: 1rem auto;
        font-size: clamp(2rem, 15vw, 4rem);
        border-radius: 50%;
        color: v.$site-secondary-color;
        background-color: #fff;
        box-shadow: 0 0 10px 0 rgba(112, 112, 112, 0.1);
        padding: 1rem;
        overflow: visible;
      }
      h2 {
        @include m.h-two-plus-highlight;
        font-size: 1.5rem;
        margin: 1rem 0;
      }
      h3 {
        margin-top: 1rem;
        font-size: 1.3rem;
        font-weight: 700;
        color: v.$site-secondary-color;
      }
      h4 {
        margin-top: 1rem;
        margin-bottom: 0.25rem;
        font-size: 1.3rem;
        font-weight: 600;
        color: #2b2b2b;
      }
    }
  }
}
