@import 'tailwindcss';
@import 'lenis/dist/lenis.css';

/* :root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
} */

/* Body Styling */
body {
	background: #ffffff;
	color: #171717;
	font-size: 1.1rem;
	overflow-x: hidden;
}

/* Header Styling*/

header {
	padding: 0 3rem;
	backdrop-filter: blur(1);
	background-color: rgba(255, 255, 255, 0.9);
	position: sticky;
	top: 0;
	left: 0;
	box-shadow: 0 0 10px 0 #eeeeee;
	z-index: 10;
}

header .login-button{
	background-color: #CE2029;
	color: #fff;
	border-radius: 0.5em;
	padding: 0.5em 2em;
}

header .login-button:hover {
	background-color: #B22234;
	transition: background-color 0.3s ease;
}

@media (max-width: 1024px) {
	header .login-button {
		display: none;
	}
}

@media (max-width: 768px) {
	header {
		padding: 1rem;
	}
}

main {
	background-color: #fdfdfd;
}


/* Footer Styling */

footer {
	min-height: 400px;
	padding: 6rem 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background: #ffffff;
	color: #171717;
	/* position: sticky;
	bottom: 0;
	z-index: -1; */
}

footer .footer-main-content-container {
	width: 80%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin: 20px 0;
}

footer .footer-logo-container {
	width: 20%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: start;
	gap: 1rem;
}

footer .footer-logo-container h2 {
	font-weight: 800;
	font-size: 3rem;
}

footer .social-links a {
	padding: 10px;
	border-radius: 50%;
	border: 1px solid rgb(122, 147, 172);
	color: rgb(122, 147, 172);
}

footer .link-list-container {
	width: 50%;
	display: flex;
	justify-content: start;
	align-items: start;
	flex-wrap: wrap;
	gap: 1rem 5rem;
}

footer .link-list li {
	padding: 5px;
}

footer .link-list li:first-child {
	font-weight: bold;
	margin-bottom: 5px;
}

footer a {
	text-decoration: none;
}

footer a:hover {
	text-decoration: underline;
}

footer .bottom-footer {
	display: flex;
	justify-content: space-between;
	padding-top: 1rem;
	width: 60%;
	gap: 0 1rem;
	text-align: center;
	border-top: 1px solid oklch(0.9 0 0);
}

@media (max-width: 1300px) {
	footer .footer-main-content-container {
		width: 90%;
	}
	footer .link-list-container {
		width: 25%;
		gap: 1rem 3rem;
	}
}

@media (max-width: 768px) {
	footer {
		min-height: auto;
		padding: 10px;
	}

	footer .footer-main-content-container {
		width: 70%;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-bottom: 10px;
		text-align: center;
		gap: 2rem 0;
	}

	footer .footer-logo-container {
		width: 100%;
		justify-content: center;
		align-items: center;
		margin-bottom: 20px;
	}

	footer .vertical-divider {
		display: none;
	}

	footer .link-list-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		gap: 1rem;
	}

	footer .link-list {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	footer .link-list li {
		font-size: 1.25rem;
		text-align: center;
	}

	footer .link-list li:first-child {
		text-align: center;
		margin-bottom: 10px;
	}

	footer a {
		padding: 8px;
		margin: 5px;
	}

	footer .bottom-footer {
		width: 80%;
		padding: 2rem;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		gap: 1rem 0;
	}

	footer .bottom-footer a {
		padding: 5px 10px;
		margin: 0;
	}
}


/* Loading Screen*/

.loadingContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #f5f5f5;
}

.loadingSpinner {
	width: 50px;
	height: 50px;
	border: 5px solid #ccc;
	border-top: 50%;
	border-radius: 50%;
	animation: loadingSpinAnimation 1s linear infinite; 
}

.loadingText {
	margin-top: 20px;
	font-size: 18px;
	color: #555;
}

@keyframes loadingSpinAnimation {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}