@import 'tailwindcss';

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
}

/* Footer Styling */

footer {
	min-height: 400px;
	padding: 10px 5px 5px 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background: var(--background);
	color: var(--foreground);
	padding: 20px;
}

footer .footer-main-content-container {
	width: 80%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin: 20px 0;
}

footer .footer-logo-container {
	width: 20%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: start;
	gap: 1rem;
}

footer .footer-logo-container h2 {
	font-weight: 800;
	font-size: 3rem;
}

footer .social-links a {
	padding: 10px;
	border-radius: 50%;
	border: 1px solid rgb(122, 147, 172);
}

footer .link-list-container {
	width: 50%;
	display: flex;
	justify-content: start;
	align-items: start;
	flex-wrap: wrap;
	gap: 1rem 5rem;
}

footer .link-list li {
	padding: 5px;
}

footer .link-list li:first-child {
	font-weight: bold;
	margin-bottom: 5px;
}

footer a {
	text-decoration: none;
}

footer a:hover {
	text-decoration: underline;
}

footer .bottom-footer {
	display: flex;
	justify-content: space-between;
	padding-top: 1rem;
	width: 60%;
	gap: 0 1rem;
	text-align: center;
	border-top: 1px solid oklch(0.9 0 0);
}

@media (max-width: 1300px) {
	footer .footer-main-content-container {
		width: 90%;
	}
	footer .link-list-container {
		width: 25%;
		gap: 1rem 3rem;
	}
}

@media (max-width: 768px) {
	footer {
		min-height: auto;
		padding: 10px;
	}

	footer .footer-main-content-container {
		width: 70%;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-bottom: 10px;
		text-align: center;
		gap: 2rem 0;
	}

	footer .footer-logo-container {
		width: 100%;
		justify-content: center;
		align-items: center;
		margin-bottom: 20px;
	}

	footer .vertical-divider {
		display: none;
	}

	footer .link-list-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		gap: 1rem;
	}

	footer .link-list {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	footer .link-list li {
		font-size: 1.25rem;
		text-align: center;
	}

	footer .link-list li:first-child {
		text-align: center;
		margin-bottom: 10px;
	}

	footer a {
		padding: 8px;
		margin: 5px;
	}

	footer .bottom-footer {
		width: 80%;
		padding: 2rem;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		gap: 1rem 0;
	}

	footer .bottom-footer a {
		padding: 5px 10px;
		margin: 0;
	}
}
