@use "./variables.module" as v;
@use "./mixIn" as m;

.homePage {
  h2 {
    @include m.h-two-plus-highlight;
  }
  // section div {
  //   flex-direction: row;
  // }
  // @media (max-width: v.$tablet-breakpoint) {
  //   section div {
  //     flex-direction: column;
  //   }
  // }
}

.heroSection {
  padding: 2rem;
  border-radius: 1rem;
  width: 90vw;
  margin: 2rem auto;
  .heroContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 70vh;
  }
  .heroContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    h1 {
      font-weight: 900;
      color: v.$site-secondary-color;
      line-height: 4rem;
      .heroTitle__first {
        font-size: clamp(6rem, 12.5vw, 12.5rem);
      }
      .heroTitle__highlight {
        color: v.$site-primary-color;
        font-size: clamp(4rem, 5.667vw, 6.8rem);
        font-style: italic;
        text-shadow: -5px 5px 0 0 v.$site-secondary-color;
      }
      .heroTitle__last {
        font-size: clamp(2.1rem, 3.75vw, 3.75rem);
      }
    }

    .heroButtons {
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      margin-top: 2rem;
      gap: 1rem;
    }
  }
  .heroImage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 40%;
    img {
      z-index: 2;
    }
    &::before {
      content: "";
      position: absolute;
      bottom: 50px;
      right: 50px;
      width: 60%;
      height: 60%;
      border-radius: 50%;
      filter: blur(5rem);
      background-color: v.$site-primary-color;
      z-index: 1;
    }
    &::after {
      content: "";
      position: absolute;
      top: 50px;
      left: 50px;
      width: 60%;
      height: 60%;
      border-radius: 50%;
      filter: blur(5rem);
      background-color: #7800e0;
      z-index: 1;
    }
  }
}

.clientsSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  width: 80%;
  margin: 5rem auto;
  position: relative;
  h2 {
    font-size: 4rem;
    &::before {
      display: none;
    }
    @media (max-width: 1024px) {
      font-size: 2.5rem;
    }
  }
  p {
    font-size: 1.5rem;
    color: v.$site-secondary-color;
    margin: 1rem 0;
  }
}

.dashcardSection,
.accoricManagementSection {
  max-width: 1400px;
  width: 90%;
  height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 3rem auto;
  .dashcardContainer,
  .accoricManagementContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    .dashcardImage,
    .accoricManagementImage {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 40%;
      padding: 1rem;
      border-radius: 2em;
      box-shadow: 0 0 10px 0 rgba(112, 112, 112, 0.1);
      img {
        border-radius: 1.5em;
      }
    }
    .dashcardContent,
    .accoricManagementContent {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 2rem;
      .dashcardFeatures,
      .accoricManagementFeatures {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        .dashcardFeature,
        .accoricManagementFeature {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          text-align: left;
        }
      }
      h3 {
        font-size: 1.5rem;
        font-weight: 900;
        color: v.$site-accent-color;
      }
      h4 {
        font-size: 1.5rem;
        font-weight: 900;
        color: v.$site-secondary-color;
      }
      p {
        font-size: 1.2rem;
        color: v.$paragraph-global-color;
      }
    }
  }
}

.aboutAccoricSection {
  max-width: 1400px;
  width: 90%;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  .aboutAccoricContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .aboutAccoricContent {
      width: 40%;
    }
    .aboutAccoricImageContainer {
      margin-top: 3rem;
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      .aboutAccoricImage_large {
        width: 500px;
        border-radius: 2rem;
        box-shadow: 0 0 10px 0 rgba(112, 112, 112, 0.1);
      }
      .feature__one,
      .feature__two,
      .feature__three {
        background-color: #f1f1f1;
        border-radius: 1em;
        box-shadow: 0 0 10px 0 rgba(34, 34, 34, 0.1);
        padding: 1rem 3rem;
        position: absolute;
        font-size: 1.25rem;
        font-weight: 600;
        color: v.$site-secondary-color;
      }
      .feature__one {
        top: 25%;
        left: -15%;
        animation: hover 9s infinite ease-in-out;
      }
      .feature__two {
        top: -5%;
        left: 30%;
        animation: hover 10s infinite ease-in-out;
      }
      .feature__three {
        top: 15%;
        right: -15%;
        animation: hover2 10s infinite ease-in-out;
      }
      .aboutAccoricImage_small {
        width: 50%;
        border-radius: 2rem;
        box-shadow: 0 0 10px 0 rgb(112, 112, 112);
        position: absolute;
        bottom: -10%;
        right: -20%;
        z-index: 2;
      }
    }
  }
}

.testimonialsSection {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: stretch;
  position: relative;
  gap: 5rem;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -70%;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background-color: v.$site-primary-color;
    z-index: 1;
  }

  .testimonialsContainer {
    padding: 2rem 0;
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    z-index: 2;
    .testimonial {
      max-width: 60%;
      display: flex;
      flex-direction: column;
      padding: 1rem;
      background: rgba(255, 255, 255, 0.75);
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      backdrop-filter: blur(4px);
      -webkit-backdrop-filter: blur(4px);
      border-radius: 10px;
      border: 1px solid rgba(255, 255, 255, 0.18);
      .testimonial__author {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
      }
      .testimonial__quote {
        font-size: 1rem;
        color: v.$site-secondary-color;
        margin: 1rem 0;
      }

      &:nth-child(odd) {
        align-self: flex-end;
        animation: 3s hover ease-in-out infinite;
      }

      &:nth-child(even) {
        align-self: flex-start;
        animation: 4s hover2 ease-in-out infinite;
      }
    }
  }

  .testimonialContent {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    h2 {
      font-size: 4rem;
    }
  }
}

.contactSection {
  background-color: v.$site-section-background-color;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  h2 {
    font-size: 4rem;
  }
  p {
    font-size: 1.5rem;
    color: v.$site-secondary-color;
    margin: 0.5rem 0;
  }
  .contactMethodContainer {
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top: 2rem;
    gap: 1rem;
    .contactMethod {
      padding: 2rem 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      .contactMethodIcon {
        margin-bottom: 1rem;
        font-size: 3rem;
        border-radius: 50%;
        color: v.$site-secondary-color;
        background-color: #fff;
        box-shadow: 0 0 10px 0 rgba(112, 112, 112, 0.1);
        padding: 1rem;
      }
      h3 {
        font-size: 1.75rem;
        font-weight: 900;
        color: v.$site-secondary-color;
        margin-bottom: 1rem;
      }
      h4 {
        font-size: 1.25rem;
        font-weight: 700;
        color: v.$site-secondary-color;
      }
      p {
        font-size: 1.1rem;
        color: v.$site-secondary-color;
      }
    }
  }
}

@keyframes hover {
  0% {
    transform: translateY(-10px);
  }

  50% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes hover2 {
  0% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
}
