@use "@Styles/variables.module" as v;

.homePage {
  .heroSection {
    padding: 2rem;
    border-radius: 1rem;
    width: 90vw;
    margin: 2rem auto;
    .heroContainer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 70vh;
    }
    .heroContent {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50%;
      h1 {
        font-weight: 900;
        color: v.$site-secondary-color;
        line-height: 4rem;
        .heroTitle__first {
          font-size: 12.5rem;
          @media (max-width: 1024px) {
            font-size: 6rem;
          }
          @media (max-width: 767px) {
            font-size: 8rem;
          }
        }
        .heroTitle__highlight {
          color: v.$site-primary-color;
          font-size: 6.8rem;
          font-style: italic;
          text-shadow: -5px 5px 0 0 v.$site-secondary-color;
          @media (max-width: 1024px) {
            font-size: 4rem;
          }
        }
        .heroTitle__last {
          font-size: 3.75rem;
          @media (max-width: 1024px) {
            font-size: 2.1rem;
          }
        }
      }

      .heroButtons {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 2rem;
        gap: 1rem;
      }
    }
    .heroImage {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 40%;

      &::before {
        content: "";
        position: absolute;
        bottom: 50px;
        right: 50px;
        width: 60%;
        height: 60%;
        border-radius: 50%;
        filter: blur(5rem);
        background-color: v.$site-primary-color;
        z-index: -1;
      }
      &::after {
        content: "";
        position: absolute;
        top: 50px;
        left: 50px;
        width: 60%;
        height: 60%;
        border-radius: 50%;
        filter: blur(5rem);
        background-color: #7800e0;
        z-index: -1;
      }
    }
  }
}

.clientsSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  width: 80%;
  height: 50vh;
  margin: 5rem auto;
  position: relative;
  h2 {
    font-size: 4rem;
    font-weight: 900;
    color: v.$site-secondary-color;
    @media (max-width: 1024px) {
        font-size: 2.5rem;
    }
  }
  p {
    font-size: 1.5rem;
    color: v.$site-secondary-color;
    margin: 1rem 0;
  }
}

.dashcardSection,
.accoricManagementSection {
  max-width: 1400px;
  width: 90%;
  height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 3rem auto;
  .dashcardContainer,
  .accoricManagementContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    .dashcardImage,
    .accoricManagementImage {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 40%;
      padding: 1rem;
      border-radius: 2em;
      box-shadow: 0 0 10px 0 rgba(112, 112, 112, 0.1);
      img {
        // border: 4px solid v.$site-primary-color;
        border-radius: 1.5em;
      }
    }
    .dashcardContent,
    .accoricManagementContent {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 2rem;
      .dashcardTitle__highlight,
      .accoricManagementTitle__highlight {
        margin-right: 1rem;
        color: v.$site-primary-color;
        font-style: italic;
        font-size: 6rem;
        text-shadow: -5px 5px 0 0 v.$site-secondary-color;
      }
      .dashcardFeatures,
      .accoricManagementFeatures {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        .dashcardFeature,
        .accoricManagementFeature {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          text-align: left;
        }
      }
      h2 {
        font-size: 5rem;
        font-weight: 900;
        line-height: 4.5rem;
        margin-bottom: 1rem;
        color: v.$site-secondary-color;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          bottom: -10px;
          left: 0;
          width: 80%;
          height: 2px;
          background: v.$site-accent-color;
          z-index: -1;
          border-radius: 1em;
        }
      }
      h3 {
        font-size: 1.5rem;
        font-weight: 900;
        color: v.$site-accent-color;
      }
      h4 {
        font-size: 1.5rem;
        font-weight: 900;
        color: v.$site-secondary-color;
      }
      p {
        font-size: 1.2rem;
        color: v.$paragraph-global-color;
      }
    }
  }
}

.testimonialsSection {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 5rem;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -70%;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background-color: v.$site-primary-color;
    z-index: -1;
  }
  .testimonialsContainer {
    padding: 2rem 0;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
    .testimonial_stars {
        align-self: center;
      }
    .testimonial {
      max-width: 60%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 1rem;
      background: rgba(255, 255, 255, 0.75);
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      backdrop-filter: blur(4px);
      -webkit-backdrop-filter: blur(4px);
      border-radius: 10px;
      border: 1px solid rgba(255, 255, 255, 0.18);
      p {
        font-size: 1rem;
      }

      &:nth-child(odd) {
        align-self: flex-end;
        animation: 3s hover ease-in-out infinite;
      }
      &:nth-child(even) {
        align-self: flex-start;
        animation: 3s hover2 ease-in-out infinite;
      }
    }
  }
  .testimonialTitle {
    width: 40%;
  }
  h2 {
    font-size: 4rem;
    font-weight: 900;
    color: v.$site-secondary-color;
  }
  p {
    font-size: 1.5rem;
    color: v.$site-secondary-color;
    margin: 1rem 0;
  }
}

.contactSection {
  background-color: v.$site-section-background-color;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  h2 {
    font-size: 4rem;
    font-weight: 900;
    color: v.$site-secondary-color;
  }
  p {
    font-size: 1.5rem;
    color: v.$site-secondary-color;
    margin: 1rem 0;
  }
  .contactMethodContainer {
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top: 2rem;
    gap: 1rem;
    .contactMethod {
      padding: 2rem 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      .contactMethodIcon {
        margin-bottom: 1rem;
        font-size: 3rem;
        border-radius: 50%;
        color: v.$site-secondary-color;
        background-color: #fff;
        box-shadow: 0 0 10px 0 rgba(112, 112, 112, 0.1);
        padding: 1rem;
      }
      h3 {
        font-size: 1.75rem;
        font-weight: 900;
        color: v.$site-secondary-color;
        margin-bottom: 1rem;
      }
      h4 {
        font-size: 1.25rem;
        font-weight: 700;
        color: v.$site-secondary-color;
      }
      p {
        font-size: 1.1rem;
        color: v.$site-secondary-color;
      }
    }
  }
}

@keyframes hover {
    0% {
        transform: translateY(-10px);
    }

    50% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}

@keyframes hover2 {
    0% {
        transform: translateY(10px);
    }
    50% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(10px);
    }
}