.policyPage {
	line-height: 1.6;
	margin: 0 auto;

	h2 {
		font-size: 2rem;
		font-weight: 600;
		margin: 1rem 0;
		color: #343a40;
	}
	h3 {
		font-size: 1.5rem;
		font-weight: 500;
		color: #343a40;
	}


	p {
		margin: 1rem 0;
		font-size: 1.2rem;
		b {
			font-weight: 600;
			color:#CE2029;
		}
	}

	ul {
		list-style-type: disc;
	}

	ol {
		list-style-type: decimal;
	}

	ul,
	ol {
		margin: 1rem 0;
		padding-left: 20px;
		font-size: 1.2rem;

		li {
			margin: 2rem 0;
			line-height: 1.75rem;
		}
	}

	a {
		color: #007bff;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

.policyHeader {
	background-color: #f8f9fa;
	padding: 20px;
	border-radius: 5px;
	text-align: center;
	margin-bottom: 20px;

	h1 {
		color: #343a40;
		margin: 0;
		font-size: 2.5rem;
	}
}

.policyContent {
	width: 70%;
	max-width: 1200px;
	margin: 0 auto;

	li span {
		font-weight: 600;
		color: #CE2029;
	}

	.quickAnswerContainer {
		background-color: #e2e2e2;
		border-radius: 1em;
		padding: 15px;
		margin: 20px 0;
		box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
		font-weight: 500;

		span {
			color: #333;
			font-size: 1.2rem;
			font-weight: 600;
		}
	}

	.policyContentSection {
		padding: 1rem;
		margin: 1rem 0;
	}

	@media (max-width: 1000px) {
		width: 80%;
	}

	@media (max-width: 767px) {
		width: 90%;
	}
}
