@use './variables.scss' as v;
@use './mixins.scss' as m;
@use 'sass:color';

.pricing {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 2rem;
    section {
        max-width: 1000px;
        width: 100%;
        margin: 0 auto;
    }
    section:not(.pricing__header) {
        min-height: 50vh;
        margin: 0 auto 5rem auto;
        @media (max-width: v.$tablet-breakpoint) {
            min-height: 100%;
        }
        @media (max-width: v.$mobile-breakpoint) {
            border-radius: 1em;
            padding: 1rem;
            box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
        }
    }
}

.pricing__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 5rem auto;
    text-align: center;
    height: 60vh;
    border-bottom: 1px solid v.$site-light-gray;
    h1 {
        font-size: 10vw;
        font-weight: 300;
        color: v.$soft-black-2;
    }
    p {
        max-width: 90vw;
        margin: 0 auto;
        font-size: clamp(1.25rem, 3vw, 1.5rem);
        font-weight: 600;
        span {
            @include m.text-gradient;
        }
    }
}

.pricing__content {
    background-color: #fdfdfd;
    padding: 1rem;
    border-radius: 1em;
}

.pricing__clients {
    text-align: center;
    h2 {
        font-size: 2rem;
        font-weight: 600;
        margin: 0;
        span {
            @include m.text-gradient;
        }
    }
}    

.pricing__includedList {
    h2 {
        font-size: clamp(1.25rem, 3vw, 3rem);
        font-weight:700;
        margin: clamp(1rem, 2vw, 2rem);
        color: v.$site-secondary-color;
    }
    &__container {
        border-radius: 1em;
        background-color: color.adjust(v.$site-primary-color, $lightness: 40%);
        color: v.$site-secondary-color;
        padding: 2rem;
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
        &__list {
            display: flex;
            flex-wrap: wrap;
            gap: 3rem;
            li {
                display: flex;
                align-items: center;
                color: v.$site-secondary-color;
                i {
                    font-size: 1.5rem;
                    margin-right: 1rem;
                    color: v.$site-secondary-color;
                }
            }
        }
    }
}