@use "../keyframes.scss";

.aboutUs {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0 auto;
  padding: 0 1rem;
  gap: 2rem;
  &__content {
    border-radius: var(--border-box-radius);
  }
  section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  section:not(.aboutUs__hero) {
    background-color: var(--section-background-color);
    width: 75vw;
    min-height: 80vh;
    margin: 0 auto 5rem auto;
    border-radius: var(--border-box-radius);
    @media (max-width: 1024px) {
      width: 100%;
      padding: 1rem;
      border: var(--box-border-color);
    }
  }

  h2 {
    @include m.h-two-plus-highlight;
  }

  a,
  p {
    margin: 1rem 0;
    color: var(--text-paragraph-color);
    span {
      font-weight: 800;
    }
  }

  p span {
    color: var(--global-secondary-color);
  }
  @media (max-width: 767px) {
    padding: 0 1rem;
  }
}

.section_highlight {
  padding: 1rem;
  border-radius: var(--border-box-radius);
}

.aboutUs__hero {
  height: 60vh;
  border-bottom: 1px solid var(--global-light-gray);
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
  h1 {
    font-size: 10vw;
    font-weight: 300;
    color: var(--heading-h1-color);
  }
  &__content {
    margin: 0 auto;
    align-items: center;
    width: 100%;
  }
  p.aboutUs__hero__subtitle {
    max-width: 90vw;
    margin: 0 auto;
    font-size: clamp(1.25rem, 3vw, 1.5rem);
    font-weight: 600;
  }
}

.aboutUs__bio,
.aboutUs__promise {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 3rem 0;
  padding: 1rem;
  @media (max-width: 767px) {
    flex-direction: column;
    height: 100%;
  }
  h2 {
    @include m.h-two-plus-highlight;
  }
  &__imageContainer {
    background-color: var(--global-tertiary-color);
    border-radius: calc(var(--border-box-radius) * 1.25);
    padding: 2rem;
    transition: transform 0.5s ease-in-out;
    margin: 1rem;
    img {
      border-radius: 50%;
      height: 400px;
      width: 400px;
      border: 5px solid var(--fixed-white);
      @media (max-width: 767px) {
        height: 250px;
        width: 250px;
      }
    }
  }
  &__content {
    width: 50%;
    margin: 1rem;
    @media (max-width: 767px) {
      width: 100%;
    }
  }
}

.aboutUs__bio__imageContainer {
  transform: perspective(1000px) rotateX(20deg) rotateY(20deg);
  animation: transform3dLeft ease-in-out;
  animation-timeline: view();
  animation-range: 10% 80%;
}
.aboutUs__promise__imageContainer {
  transform: perspective(1000px) rotateX(20deg) rotateY(-20deg);
  animation: transform3dRight ease-in-out;
  animation-timeline: view();
  animation-range: 10% 80%;
}

.aboutUs__benefits {
  height: 130vh;
  @media (max-width: 767px) {
    height: 100%;
  }
  h2 {
    @include m.h-two-plus-highlight;
    margin: 2rem 0;
    text-align: center;
  }
  &__stickyContainer {
    position: sticky;
    top: 30%;
    left: 0;
  }
  &__container {
    display: flex;
    width: 75vw;
    height: 60vh;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 2rem;
    margin: 0 auto;
    @media (max-width: 767px) {
      flex-direction: column;
      height: 100%;
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 3rem;
    width: 30%;
    @media (max-width: 767px) {
      width: 100%;
    }

    div {
      background-color: var(--global-light-gray);
      border-radius: 50%;
      padding: 1rem;
      border: 5px solid var(--global-primary-color);
      animation: zoomIn ease-in-out;
      animation-timeline: view();
      animation-range: 0 40%;
    }
    svg {
      font-size: 3rem;
      width: 150px;
      min-height: 150px;
      max-width: 150px;
      max-height: 150px;
      position: relative;
    }

    h3 {
      font-size: 1.5rem;
      font-weight: 600;
      color: var(--heading-h3-color);
      position: relative;
    }
  }
}

