@use "../keyframes.scss";
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

.accoricDashcard {
  padding-bottom: 100vh;
  position: relative;
  scroll-behavior: smooth;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  @media (max-width: 767px) {
    flex-direction: column-reverse;
  }

  section {
      scroll-snap-align: start;
      scroll-snap-stop: always;
      gap: 2rem;
      height: 150vh;
      padding: clamp(1rem, 5vw, 2.5rem) clamp(1rem, 5vw, 3.5rem);
  }

  h1,
  h2 {
      position: relative;
      font-family: "Lexend", sans-serif;
    &::after {
        content: "";
        position: absolute;
        z-index: -1;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: var(--global-primary-color);
    }
  }

  h1 {
      position: relative;
      font-size: clamp(2rem, 5vw, 3.5rem);
      font-weight: 900;
      color: var(--heading-h1-color);
  }

  h2 {
      font-size: clamp(1.75rem, 3.5vw, 2.25rem);
      font-weight: 800;
      color: var(--heading-h2-color);
  }

  h3 {
      font-size: clamp(1.5rem, 3vw, 2rem);
      font-weight: 700;
      color: var(--heading-h3-color);
  }

  p {
      font-size: clamp(1rem, 2vw, 1.5rem);
      font-weight: 500;
  }

  h1,
  h2,
  p,
  input,
  a,
  button {
      z-index: 3;
  }

  &__sticky {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      position: sticky;
      z-index: 3;
      top: 20%;
      bottom: 10%;
      width: 100%;
    @media (max-width: 767px) {
        top: 10%;
    }
  }

  &__content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: clamp(0.5rem, 2vw, 1rem);
      padding: 1rem;
      background-color: var(--card-background-color);
      border-radius: 1rem;
    @media (max-width: 767px) {
        box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);
    }
  }

  &__splineContainer {
      position: sticky;
      top: 8%;
      width: 50%;
      height: 100vh;
      margin-bottom: -100vh;
      background: radial-gradient(circle at bottom right, var(--global-primary-color) 0%, var(--page-background-color) 60%, transparent 100%);
    @media (max-width: 767px) {
        top: 30%;
        width: 100%;
        background: linear-gradient(to top, var(--global-primary-color) 0%, var(--page-background-color) 60%, transparent 100%);
    }
  }

  &__info {
      scroll-snap-type: y mandatory;
      overflow-y: auto;
      width: 40%;
    @media (max-width: 767px) {
        width: 100%;
    }

    &__hero {
        display: flex;
        height: 100vh;
        padding-top: 15% !important;
      @media (max-width: 767px) {
          padding-top: 0 !important;
      }
    }

    &__whoIsItFor {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    &__feature {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__callToAction {
        display: flex;
        align-items: flex-start;
    }

    &__blurb {
        position: sticky;
        top: 10%;
    }
  }

  &__anchor {
      display: flex;
      position: sticky;
      z-index: 5;
      top: 15%;
      float: right;
      width: 10%;
      margin-right: 2vw;
    @media (max-width: 767px) {
        display: none;
    }
  }
}
