@use "../keyframes.scss";
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

.accoricDashcard {
	padding-bottom: 100vh;
	position: relative;
	scroll-behavior: smooth;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	@media (max-width: 767px) {
		flex-direction: column-reverse;
	}

	section {
		display: flex;
		flex-direction: column;
		gap: clamp(1rem, 2vw, 2rem);
		align-items: flex-start;
		justify-content: flex-start;
		height: 150vh;
		padding: clamp(1rem, 5vw, 2.5rem) clamp(1rem, 2vw, 3.5rem);
	}

	h1,
	h2 {
		position: relative;
		font-family: "Lexend", sans-serif;
		&::after {
			content: "";
			position: absolute;
			z-index: -1;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 3px;
			background-color: var(--global-primary-color);
		}
	}

	h1 {
		position: relative;
		font-size: clamp(2rem, 5vw, 3.5rem);
		font-weight: 900;
		color: var(--heading-h1-color);
	}

	h2 {
		font-size: clamp(1.75rem, 3vw, 2.25rem);
		font-weight: 800;
		color: var(--heading-h2-color);
	}

	h3 {

		font-size: clamp(1.25rem, 1.5vw, 2rem);
		font-weight: 700;
		color: var(--heading-h3-color);
	}

	p {
		font-size: clamp(1rem, 1.3vw, 1.4rem);
		font-weight: 500;
	}

	h1,
	h2,
	p,
	input,
	a,
	button {
		z-index: 3;
	}

	/* Sticky Container Styles */

	&__sticky {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		position: sticky;
		z-index: 3;
		top: 15%;
		bottom: 10%;
		width: 100%;
		@media (max-width: 767px) {
			top: 10%;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: clamp(0.5rem, 3vw, 1rem);
		min-height: 300px;
		padding: 1rem;
		border-radius: 1rem;
		@media (max-width: 767px) {
			background-color: var(--card-background-color);
			box-shadow: 0 10px 10px 0 var(--box-shadow-color);
		}
	}

	/* Spline Container Styles */

	&__splineContainer {
		position: sticky;
		top: 8%;
		width: 50%;
		height: 100vh;
		margin-bottom: -100vh;
		background: radial-gradient(
			circle at bottom right,
			var(--global-primary-color) 0%,
			var(--page-background-color) 60%,
			transparent 100%
		);
		@media (max-width: 767px) {
			top: 30%;
			width: 100%;
			background: linear-gradient(
				to top,
				var(--global-primary-color) 0%,
				var(--page-background-color) 60%,
				transparent 100%
			);
			&__fallback {
				position: relative;
				top: 35%;
			}
		}
	}

	/* Section Styles */

	&__info {
		width: 40%;
		@media (max-width: 767px) {
			width: 100%;
		}

		&__hero {
			height: 100vh;
			padding-top: 15% !important;
			@media (max-width: 767px) {
				padding-top: 0 !important;
			}
		}

		&__features {
			display: grid;
			flex-direction: row;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(2, 1fr);
			grid-column-gap: 0.5rem;
			grid-row-gap: 0.5rem;
			@media (max-width: 767px) {
			}
			&__feature {
				display: flex;
				gap: 0.5rem;
				border-radius: 1rem;
				flex-direction: column;
				padding: clamp(0.5rem, 1vw, 1rem);
				box-shadow: 0 10px 10px 0 var(--box-shadow-color);

				h3 {
					display: flex;
					align-items: flex-start;
					gap: 0.5rem;
					line-height: 1.5rem;
				}
				i {
					display: flex;
					align-items: center;
					justify-content: center;
					aspect-ratio: 1/1;
					width: clamp(2rem, 2.5vw, 3rem);
					height: clamp(2rem, 2.5vw, 3rem);
					padding: clamp(3px, 0.5vw, 10px);
					border-radius: 50%;
					background-color: color-mix(in oklch, var(--global-secondary-color) 30%, white);
					color: var(--global-secondary-color);
					font-size: clamp(1.5rem, 2vw, 3rem);
				}
				&__content {
					display: flex;
					flex-direction: column;
					gap: inherit;
				}
			}
		}
	}

	&__anchor {
		display: flex;
		position: sticky;
		z-index: 5;
		top: 15%;
		float: right;
		width: 10%;
		margin-right: 2vw;
		@media (max-width: 767px) {
			display: none;
		}
	}
}
