@use "../keyframes.scss";

.homePage {
  @media (max-width: v.$tablet-breakpoint) {
    padding: 1rem;
  }
  section:not(.heroSection) {
    min-height: 80vh;
    margin: 0 auto 5rem auto;
    @media (max-width: v.$tablet-breakpoint) {
      width: 100%;
      border-radius: 1em;
      padding: 1rem;
      box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    }
  }
}
.heroSection {
  padding: 2rem;
  border-radius: 1rem;
  width: 90vw;
  margin: 2rem auto;
  .heroContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5rem 10%;
    min-height: 70vh;
  }
  .heroContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: clamp(450px, 50%, 840px);
    @media (max-width: v.$tablet-breakpoint) {
      width: clamp(450px, 100%, 840px);
    }
    h1 {
      font-weight: 900;
      color: v.$global-secondary-color;
      line-height: clamp(2.5rem, 5vw, 5rem);
      padding: 0 1rem;
      @media (max-width: v.$mobile-breakpoint) {
        text-align: center;
      }
      .heroTitle__first {
        font-size: clamp(5rem, 10vw, 12.5rem);
      }
      .heroTitle__highlight {
        color: v.$global-primary-color;
        font-size: clamp(3rem, 5.667vw, 6.8rem);
        font-style: italic;
        text-shadow: -5px 5px 0 v.$global-secondary-color;
      }
      .heroTitle__last {
        font-size: clamp(2rem, 3.75vw, 3.75rem);
      }
    }

    .heroButtons {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      width: 100%;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: stretch;
      margin-top: 2rem;
      gap: 2rem 5rem;
      @media (max-width: v.$tablet-breakpoint) {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
  .heroImage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: clamp(300px, 40%, 600px);
    img {
      z-index: 2;
    }
    &::before {
      content: "";
      position: absolute;
      bottom: 50px;
      right: 50px;
      width: 60%;
      height: 60%;
      border-radius: 50%;
      filter: blur(5rem);
      background-color: v.$global-primary-color;
      z-index: 1;
    }
    &::after {
      content: "";
      position: absolute;
      top: 50px;
      left: 50px;
      width: 60%;
      height: 60%;
      border-radius: 50%;
      filter: blur(5rem);
      background-color: #7800e0;
      z-index: 1;
    }
  }
}

.clientsSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  width: 80%;
  margin: 5rem auto;
  position: relative;
  text-align: center;
  h2 {
    @include m.h-two-plus-highlight;
  }
  p {
    font-size: 1.5rem;
    color: v.$global-secondary-color;
    margin: 1rem 0;
  }
}

.dashcardSection,
.accoricManagementSection {
  max-width: 1400px;
  width: 90%;
  min-height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 3rem auto;
  h2 {
    @include m.h-two-plus-highlight;
  }

  .dashcardContainer,
  .accoricManagementContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dashcardContainer {
    @media (max-width: v.$tablet-breakpoint) {
      flex-direction: column-reverse;
    }
  }
  .accoricManagementContainer {
    @media (max-width: v.$tablet-breakpoint) {
      flex-direction: column;
    }
  }

  .dashcardImage,
  .accoricManagementImage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: clamp(300px, 40%, 600px);
    margin: 0 1rem;
    padding: clamp(0.5rem, 1vw, 1rem);
    border-radius: clamp(1em, 2vw, 2em);
    box-shadow: 0 0 10px 0 rgba(112, 112, 112, 0.1);
    img {
      border-radius: clamp(1em, 1.5vw, 1.5em);
    }
    @media (max-width: v.$tablet-breakpoint) {
      width: 100%;
      box-shadow: none;
    }
  }
  .dashcardContent,
  .accoricManagementContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 60%;
    @media (max-width: v.$tablet-breakpoint) {
      max-width: 100%;
    }
    a {
      display: inline-flex;
      margin: 1rem;
      align-self: flex-end;
      position: relative;
      &::after {
        content: "";
        width: 100%;
        height: 2px;
        background-color: black;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: all 0.2s ease-in-out;
      }
      svg {
        margin: 0 0.25rem;
        transition: all 0.2s ease-in-out;
        transform: rotate(45deg);
      }
      &:hover::after {
        width: 10%;
      }
      &:hover > svg {
        animation: scaleAndRotate 0.5s ease-in-out;
      }
    }
    .dashcardFeatures,
    .accoricManagementFeatures {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 1rem;
      .dashcardFeature,
      .accoricManagementFeature {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
      }
    }
    h3 {
      font-size: clamp(1.25rem, 2vw, 1.5rem);
      font-weight: 900;
      color: v.$global-accent-color;
    }
    h4 {
      font-size: clamp(1.25rem, 2vw, 1.5rem);
      font-weight: 900;
      color: v.$global-secondary-color;
    }
    p {
      font-size: clamp(1rem, 1.5vw, 1.2rem);
      color: v.$text-paragraph-color;
    }
  }
}

.aboutAccoricSection {
  max-width: 1400px;
  width: 90%;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  h2 {
    @include m.h-two-plus-highlight;
  }
  .aboutAccoricContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @media (max-width: v.$tablet-breakpoint) {
      flex-direction: column;
    }
    .aboutAccoricContent {
      width: 40%;
      p {
        font-size: clamp(1.1rem, 1.5vw, 1.2rem);
        margin: 3rem 0;
        color: v.$text-paragraph-color;
        text-indent: 0.5rem;
        span {
          font-size: clamp(1.2rem, 2vw, 1.5rem);
          font-weight: 900;
          color: v.$global-secondary-color;
        }
      }
      @media (max-width: v.$tablet-breakpoint) {
        width: 100%;
      }
    }
    .aboutAccoricImageContainer {
      margin-top: 3rem;
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      @media (max-width: v.$tablet-breakpoint) {
        width: 80%;
      }
      .aboutAccoricImage_large {
        width: 500px;
        border-radius: 2rem;
        box-shadow: 0 0 10px 0 rgba(112, 112, 112, 0.1);
      }
      .feature__one,
      .feature__two,
      .feature__three {
        background-color: #f1f1f1;
        border-radius: 1em;
        box-shadow: 0 0 10px 0 rgba(34, 34, 34, 0.1);
        padding: clamp(0.75rem, 1.5vw, 1rem) clamp(1.5rem, 3vw, 3rem);
        position: absolute;
        font-size: clamp(1rem, 1.5vw, 1.25rem);
        font-weight: 600;
        text-align: center;
        color: v.$global-secondary-color;
      }
      .feature__one {
        top: 25%;
        left: -15%;
        animation: hover 9s infinite ease-in-out;
        @media (max-width: v.$mobile-breakpoint) {
          top: 5%;
          left: -10%;
        }
      }
      .feature__two {
        top: -5%;
        left: 30%;
        animation: hover 10s infinite ease-in-out;
        @media (max-width: v.$mobile-breakpoint) {
          top: -30%;
          left: 30%;
        }
      }
      .feature__three {
        top: 15%;
        right: -15%;
        animation: hover2 10s infinite ease-in-out;
        @media (max-width: v.$mobile-breakpoint) {
          top: 25%;
          right: -10%;
        }
      }
      .aboutAccoricImage_small {
        width: 50%;
        border-radius: 2rem;
        box-shadow: 0 0 10px 0 rgb(112, 112, 112);
        position: absolute;
        bottom: -10%;
        right: -20%;
        z-index: 2;
      }
    }
  }
}

.testimonialsSection {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: stretch;
  position: relative;
  gap: 5rem;
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -30%;
    border-radius: 50%;
    width: 50%;
    height: 100%;
    background-color: v.$global-primary-color;
    z-index: 1;
    @media (max-width: v.$tablet-breakpoint) {
      bottom: -30%;
      left: 0;
      height: 50%;
      width: 100%;
    }
  }
  @media (max-width: v.$tablet-breakpoint) {
    flex-direction: column-reverse;
    align-items: center;
  }

  .testimonialsContainer {
    padding: 2rem 0;
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    z-index: 2;
    @media (max-width: v.$tablet-breakpoint) {
      width: 90%;
    }
    .testimonial {
      max-width: 60%;
      display: flex;
      flex-direction: column;
      padding: 1rem;
      background: rgba(255, 255, 255, 0.75);
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      backdrop-filter: blur(4px);
      -webkit-backdrop-filter: blur(4px);
      border-radius: 10px;
      border: 1px solid rgba(255, 255, 255, 0.18);
      @media (max-width: v.$mobile-breakpoint) {
        max-width: 100%;
      }
      .testimonial__author {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
        font-weight: 700;
        color: v.$heading-h3-color;
      }
      .testimonial__quote {
        font-size: 1rem;
        color: v.$global-secondary-color;
        margin: 1rem 0;
      }

      &:nth-child(odd) {
        align-self: flex-end;
        animation: 3s hover ease-in-out infinite;
      }

      &:nth-child(even) {
        align-self: flex-start;
        animation: 4s hover2 ease-in-out infinite;
      }
    }
  }

  .testimonialContent {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 2;
    gap: 1rem;
    h2 {
      font-size: clamp(3rem, 5vw, 6rem);
      color: v.$global-secondary-color;
      font-weight: 900;
    }
    @media (max-width: v.$tablet-breakpoint) {
      width: 90%;
    }
  }
}

