.personalDashcard {
	position: relative;
	&__sections {
		section {
			padding: 0 4vw;
			scroll-margin-top: 100px;
		}
		p {
			font-size: clamp(1rem, 1.5vw, 1.2rem);
			font-weight: 500;
			line-height: 1.5;
			margin-bottom: 1rem;
		}
	}
	&__sidebar {
		height: 0;
		position: sticky;
		bottom: 20%;
		left: 0;
		margin-left: 1vw;
		display: flex;
		flex-direction: column;
		gap: 10px;
		max-width: 1.5rem;
		transition: all 0.5s ease-in-out;
		a {
			color: #00000000;
		}
		&:hover {
			max-width: 150px;
			a {
				color: var(--global-secondary-color);
			}
		}

		&__sticky {
			position: sticky;
			top: 0;
			left: 0;
			display: flex;
			flex-direction: column;
			gap: 10px;
			transform: translateY(-100%) scale(0.5);
			transition: all 0.5s ease-in-out;
			&:hover {
				transform: translateY(-100%) scale(1);
			}
			&__item {
				font-size: clamp(0.8rem, 1vw, 0.9rem);
				margin: var(--spacing-sm) 0;
				background-color: var(--dashcard-side-bar-background-color);
				backdrop-filter: blur(10px);
				-webkit-backdrop-filter: blur(10px);
				border: 1px solid rgba(0, 0, 0, 0.3);
				border-radius: 1em;
				max-height: 1.5rem;
				padding: 0 0.5rem;
				overflow: hidden;
				transition: all 0.5s ease-in-out;
				display: flex;
				text-wrap: nowrap;
				&:hover {
					background-color: color-mix(
						in oklch,
						var(--global-primary-color) 20%,
						transparent
					);
				}
				&__active {
					background-color: color-mix(
						in oklch,
						var(--global-primary-color) 60%,
						transparent
					);
				}
			}
		}
	}
}

.dotMatrixBackground {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	pointer-events: none;
	filter: invert(1);
	.dotMatrixGrid {
		display: grid;
		width: 100vw;
		height: 100%;
		grid-template-rows: repeat(80, 1fr);
		grid-template-columns: repeat(10, 1fr);
		position: absolute;
		inset: 0;
	}
	
	.dotMatrixDot {
		background: currentColor;
		border-radius: 50%;
		opacity: 0.1;
		filter: invert(1);
	}
}


.introSec {
	padding-top: 10vh;
	padding-bottom: 15vh;
	transform: translateY(-100px);
	&__content {
		max-width: 1400px;
		margin: 0 auto;
		padding: var(--spacing-md) 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 1rem;
		@media (max-width: 768px) {
			flex-direction: column;
		}
		&__text {
			flex: 0.5;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 1rem;
			@media (max-width: 768px) {
				align-items: center;
			}
			h1 {
				font-size: clamp(2rem, 9vw, 20vw);
				line-height: 0.8;
				font-weight: 700;
				text-align: left;
				letter-spacing: -0.05em;
				padding-top: 10vh;
				span {
					background: linear-gradient(
						45deg,
						var(--global-primary-color) 60%,
						var(--global-secondary-color)
					);
					background-clip: text;
					-webkit-text-fill-color: transparent;
				}
				@media (max-width: 768px) {
					text-align: center;
				}
			}
		}
		&__assetContainer {
			position: relative;
			min-height: 500px;
			&__img {
				position: relative;
				z-index: 3;
				border-radius: 30%;
				filter: drop-shadow(0 0 10px rgb(255, 255, 255));
			}
			&__imgBackground {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				border-radius: 50%;
				z-index: 1;
			}
		}
	}
}

.welderSparks {
	position: absolute;
	bottom: 25%;
	left: 18%;
	z-index: 4;
	&__sparks {
		right: 34%;
		bottom: 23%;
		position: absolute;
		width: 2px;
		height: 2vh;
		background: var(--dashcard-hero-spark-color);
		border-radius: 1em;
		box-shadow: 0 0 10px 2px color-mix(in oklch, var(--dashcard-hero-spark-color) 50%, transparent);
		pointer-events: none;
		opacity: 0.85;
		z-index: 2;
	}
}

.yourCertificationSec,
.yourCardSec,
.alwaysSyncSec,
.expirationReminderSec,
.accessAnywhereSec {
	padding-bottom: 200px;
	&__content {
		min-height: 120vh;
		color: var(--global-black-to-white-color);
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		margin: 0 auto;
		max-width: 1400px;
		padding: var(--spacing-md);
		gap: 2rem;
		@media (max-width: 768px) {
			flex-direction: column;
			align-items: center;
			gap: 1rem;
		}
		&__text {
			padding: var(--spacing-md) 0;
			display: flex;
			flex-direction: column;
			gap: var(--spacing-md);
			flex: 0.8;
			position: sticky;
			top: 30%;
			z-index: 2;
			min-height: 450px;
			h2 {
				font-size: clamp(2rem, 3vw, 4.2rem);
				font-weight: 700;
				line-height: 1.1;
			}
			&__days {
				background: color-mix(in oklch, var(--global-primary-color) 30%, transparent);
				padding: 0.25rem;
				border-radius: 0.5rem;
				color: var(--global-secondary-color);
			}
			@media (max-width: 768px) {
				top: 20%;
			}
		}
		&__assetContainer {
			display: flex;
			align-items: center;
			position: relative;
			z-index: 3;
			img {
				background-color: var(--global-secondary-color);
				border-radius: 1em;
				box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
			}
		}
	}
}

