@use 'sass:color';
@use "../keyframes.scss";

.pricing {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0 1rem;
    margin: 0 auto;
    gap: 2rem;
    section {
        width: 75vw;
        margin: 0 auto;
        @media (max-width: 1024px) {
            width: 100%;
        }
    }
    section:not(.pricing__header) {
        background-color: var(--section-background-color);
        min-height: 50vh;
        margin: 0 auto 5rem auto;
        border-radius: 1em;
        @media (max-width: 1024px) {
            min-height: 100%;
        }
        @media (max-width: 767px) {
            border-radius: 1em;
            padding: 1rem;
            box-shadow: var(--section-box-shadow);
        }
    }
}

.pricing__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 5rem auto;
    text-align: center;
    height: 60vh;
    border-bottom: 1px solid var(--global-light-gray);
    h1 {
        font-size: 10vw;
        font-weight: 300;
        color: var(--heading-h1-color);
    }
    p {
        max-width: 90vw;
        margin: 0 auto;
        font-size: clamp(1.25rem, 3vw, 1.5rem);
        font-weight: 600;
        span {
            @include m.text-gradient;
        }
    }
}

.pricing__content {
    border-radius: 1em;
}

.pricing__clients {
    text-align: center;
    padding: 1rem;
    h2 {
        font-size: 2rem;
        font-weight: 600;
        margin: 0;
        span {
            @include m.text-gradient;
        }
    }
}    

.pricing__includedList {
    h2 {
        font-size: clamp(1.25rem, 3vw, 3rem);
        font-weight:700;
        margin: clamp(1rem, 2vw, 2rem);
        color: var(--heading-h2-color);
    }
    &__container {
        border-radius: 1em;
        background-color: rgba(var(--global-primary-color), 0.4);
        color: var(--global-secondary-color);
        padding: 2rem;
        width: 100%;
        max-width: 1100px;
        margin: 0 auto;
        &__list {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 1rem;
            @media (max-width: 1024px) {
                grid-template-columns: repeat(2, 1fr);
            }
            @media (max-width: 767px) {
                grid-template-columns: repeat(1, 1fr);
            }
            li {
                border-radius: 1em;
                @include m.blur-bright-background;
                padding: 0.5rem 1.5rem;
                display: flex;
                align-items: center;
                color: var(--text-paragraph-color);
                i {
                    font-size: 1.5rem;
                    margin-right: 1rem;
                    color: var(--global-secondary-color);
                }
            }
        }
    }
}