@mixin h-two-plus-highlight {
    font-size: clamp(2.5rem, 4.167vw, 5rem);
    font-weight: 900;
    color: var(--global-secondary-color);
    margin-bottom: 1.667vw;
    line-height: clamp(4rem, 3.75vw, 4rem);
    position: relative;
    .headingHighlight {
        color: var(--heading-highlight-color);
        font-style: italic;
        font-size: clamp(3.5rem, 5vw, 6rem);
        text-shadow: -5px 5px 0 var(--heading-highlight-text-shadow);
        margin: 0 1rem;
    }
}

@mixin text-gradient {
	background: linear-gradient(var(--global-tertiary-color), var(--global-black-to-white-color)) border-box;
	border: 4px solid transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

@mixin global-page-link-effect {
    color: var(--link-color);
    z-index: 1;
    text-decoration: none;
    transition: all 0.3s ease;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        z-index: -1;
        transform: translateX(-1%);
        width: 103%;
        height: 2px;
        border-radius: 2px;
        background-color: var(--link-color-hover);
        bottom: 0;
        left: 0;
        transition: height 0.3s ease;
    }
    &:hover {
        &::before {
            background-color: var(--link-color-hover);
            height: 100%;
        }
    }
}
