@use "sass:color";

// Colors

/* Global Colors*/
$global-primary-color: #2fa5f4;
$global-secondary-color: #0c0050;
$global-accent-color: #ce2029;
$global-tertiary-color: #0083e0;
$global-light-gray: #f1f1f1;
$global-orange: #d69e00;
$global-black: #2b2b2b;

// Container Colors

/* Section Background Colors */
$site-page-background-color: #f1f1f1;
$site-page-background-color-dark-theme: #1a1a1a;

/* Section Background Colors */
$site-page-background-color: #f1f1f1;
$site-page-background-color-dark-theme: #1a1a1a;

// Typography Colors

/* Heading Colors */
$heading-h1-color: #1a1a1a;
$heading-h1-color-dark-theme: #eeeeee;

$heading-h2-color: #1a1a1a;
$heading-h2-color-dark-theme: #eeeeee;

$heading-h3-color: #1a1a1a;
$heading-h3-color-dark-theme: #eeeeee;

/* Text Colors */
$text-paragraph-color: #1a1a1a;
$text-paragraph-color-dark-theme: #eeeeee;

/* Link Colors */
$link-color: #007bff;
$link-color-dark-theme: #007bff;

// Component Colors


/* Nav Colors */
$nav-link-color: #1a1a1a;
$nav-link-color-dark-theme: #eeeeee;

/* Button */

$button-border-radius: 3em;

/* Primary Button Colors - this color is being shared with the background and border and so a single color can only be used*/

$primary-button-color: $global-accent-color;


/* Secondary Button Colors - this color is being shared with the background and border and so a single color can only be used*/
$secondary-button-color: color.adjust($global-tertiary-color, $lightness: -12%);

// Breakpoints

$tablet-breakpoint: 1024px;
$mobile-breakpoint: 767px;
