@use "sass:color";
@use "./keyframes.scss";

/* Button Styles */
.siteButton {
	position: relative;
	text-align: center;
	font-weight: 600;
	background-size: 200% 100%;
	padding: clamp(0.5rem, 1.5vw, 0.75rem) clamp(1rem, 4vw, 2.75rem);
	border-radius: var(--border-button-radius);
	z-index: 2;
	transition: all 0.2s ease-in-out;
	display: flex;
	align-items: center;
	justify-content: center;
	text-wrap: nowrap;
	gap: 0.5rem;
	will-change: box-shadow;
	box-shadow: none;
	.siteButton__icon {
		font-size: 1.5rem;
	}
	.siteButton__text {
		width: 85%;
	}
	&--primary {
		color: white;
		background: var(--primary-button-color);
		border: 3px solid var(--primary-button-color);

		&:hover,
		&:active {
			color: white;
			box-shadow: 0 0 0 5px color-mix(in oklch, var(--primary-button-color) 50%, transparent);

		}
	}

	&--secondary {
		color: var(--secondary-button-color);
		background-color: var(--global-light-gray);
		border: 3px solid var(--global-light-gray);

		&::before {
			transform: scaleX(0) scaleY(0);
			background: var(--secondary-button-color);
		}

		&:hover,
		&:active {
			color: var(--secondary-button-color);
			box-shadow: 0 0 0 5px color-mix(in oklch, var(--secondary-button-color) 50%, transparent);
		}
	}
}

/*Desktop Navigation Bar*/

.desktopNavBar {
	margin: 0 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	@media (max-width: 767px) {
		display: none;
	}
	&__menu {
		list-style: none;
		display: flex;
		margin: 0;
		padding: 0;
		&__Item {
			font-size: clamp(0.875rem, 1vw, 1rem);
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: stretch;
			text-align: center;
			font-weight: 600;
			&__Link {
				padding: 2rem 1rem;
				background-color: transparent;
				color: var(--nav-link-color);
				transition: all 300ms ease-in;
				position: relative;
				z-index: 2;
				&:hover {
					color: white;
				}
				&::before {
					content: "";
					position: absolute;
					bottom: 0;
					left: 0;
					transform: scaleX(0);
					transition: all 300ms ease-in;
					display: block;
					width: 100%;
					height: 2px;
					z-index: -1;
					background-color: var(--global-primary-color);
					backdrop-filter: brightness(1.1);
				}
				&:hover::before {
					transform: scaleX(1);
					animation: 200ms ease-in-out 250ms normal forwards
						navigation-menu-background;
				}
				&:active {
					color: white;
					transform: scale(0.9);
					background-color: var(--global-primary-color);
				}
			}
		}
	}
}

/*Mobile Navigation Bar*/

.mobileNavBar {
	&__openIcon, &__drawerTitle__closeIcon {
		font-size: 3rem;
		aspect-ratio: 1/1;
		font-weight: 600;
		color: var(--global-secondary-color);
		cursor: pointer;
		border: 1px solid var(--global-secondary-color);
		border-radius: calc(var(--border-box-radius) * 0.25);
		padding: 0.5rem;
		z-index: 2;
		&:hover {
			background-color: var(--global-secondary-color);
			color: var(--fixed-white);
		}
	}
	&__drawerTitle {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		justify-content: space-between;
		min-height: 50px;
		h2 {
			font-size: 1.5rem;
			font-weight: 600;
			span {
				font-size: 2rem;
				font-weight: 700;
				color: var(--global-primary-color);
				text-shadow: 0 1px 0 var(--fixed-black);
			}
		}
	}
	&__drawerFooter {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 0.5rem;
	}
	&__menu {
		margin-bottom: 1rem;
		&__item {
			font-size: clamp(1.25rem, 2vw, 1.5rem);
			font-weight: 600;
			padding: 1rem 0;
			border-bottom: 1px solid var(--global-light-gray);
			text-align: right;
			&:last-child {
				border-bottom: none;
			}
			&__link {
				color: var(--global-secondary-color);
				&:hover {
					color: var(--global-primary-color);
				}
			}
		}
	}
	@media (min-width: 767px) {
		display: none;
	}
}

/*Past Clients*/
.clientContainer {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	max-width: 1000px;
	margin: 2rem auto;
	justify-content: center;
	align-items: center;
	@media (max-width: 1024px) {
		max-width: 90vw;
	}
	.clientImage {
		width: clamp(100px, 15vw, 200px);
		border-radius: var(--border-box-radius);
		filter: var(--client-logo-filter-effect);
		background-color: var(--client-logo-background-color);
		border: 1px solid oklch(1 0 none / 0.25);
		transition: all 0.3s ease-in-out;
		&:hover {
			background-color: var(--client-logo-background-color-hover);
			filter: var(--client-logo-filter-effect-hover);
			transform: scale(1.1);
		}
	}
}

/*Contact CTA*/
.contactCTA {
	background-color: color-mix(in oklch, var(--global-primary-color) 10%, white);
	backdrop-filter: brightness(1.1);
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: var(--border-box-radius);
	overflow: hidden;
	margin: 1rem auto !important;
	max-width: 1500px;
	max-height: 150px;
	@media (max-width: 767px) {
		max-width: 90vw;
		max-height: none;
		padding: 1rem 2rem;
		flex-direction: column;
		align-items: stretch;
		justify-content: center;
		text-align: center;
	}
	h2 {
		font-size: clamp(1.25rem, 2vw, 2rem) !important;
		margin: 0 !important;
		color: var(--fixed-secondary-color) !important;
		font-weight: 700 !important;
		line-height: 1.5 !important;
		@media (max-width: 767px) {
			margin: 2rem 0 !important;
		}
	}
	p {
		font-size: clamp(1.1rem, 1.2vw, 1.4rem) !important;
		letter-spacing: -0.05em !important;
		font-weight: 500 !important;
		color: var(--fixed-secondary-color) !important;
		margin: 0 !important;
	}
	a {
		margin: 0 1rem 0 0 !important;
		padding: clamp(0.5rem, 1vw, 1em) clamp(1rem, 2vw, 2rem);
		color: var(--fixed-white);
	}
	&__imageContainer {
		position: relative;
		@media (max-width: 767px) {
			margin: 0 auto;
		}
		&::before {
			content: "";
			position: absolute;
			transform: translate(-50%, -50%) rotate(-10deg);
			top: 0;
			right: 0;
			width: 2.5vw;
			height: 100vh;
			z-index: 1;
			background-color: color-mix(in oklch, var(--global-primary-color) 50%, white);
			backdrop-filter: brightness(1.1);
			box-shadow: 2.5vw 0 0 0 color-mix(in oklch, var(--global-primary-color) 40%, white);
			@media (max-width: 767px) {
				transform: translate(-20vw, -30%) rotate(-90deg);
			}
		}
		&__image {
			height: 100%;
			width: 100%;
			object-fit: cover;
			border-radius: calc(var(--border-box-radius) * 0.5);
		}
	}
	&__content {
		z-index: 2;
		margin: 1rem;
	}
}

/*Video Player*/

.videoPlayer {
	width: 45vw;
	aspect-ratio: 16/9;
	min-width: 450px;
	object-fit: cover;
	border-radius: var(--border-box-radius);
	margin-top: 2rem;
	box-shadow: 10px 10px 2px 0 var(--global-secondary-color);
	@media (max-width: 1024px) {
		min-width: 100%;
	}
}

/*Pricing*/
.pricingFormContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	backdrop-filter: blur(10px);
	background-color: rgba(var(--global-primary-color), 0.4);
	border-radius: var(--border-box-radius);
	margin: 1rem auto;
	padding: 2rem;
	gap: 1rem;
	h2 {
		font-size: clamp(1.5rem, 2vw, 2rem);
		font-weight: 600;
		margin: 0;
		color: var(--heading-h2-color);
		span {
			color: var(--global-secondary-color);
		}
	}
	p {
		font-size: clamp(1rem, 1vw, 1.2rem);
	}
	p:last-child {
		text-align: right;
	}
	a {
		color: var(--global-primary-color);
		&:hover {
			text-decoration: underline;
		}
	}
	.pricingForm {
		width: 90%;
		margin: 0 auto;
		gap: 1rem;
		&__sliderInfoEmployees {
			font-size: clamp(1.2rem, 1.5vw, 1.5rem);
			margin: 0;
		}
		&__sliderInfoCost {
			font-size: clamp(1.2rem, 1.5vw, 1.5rem);
		}
		&__input {
			svg {
				color: var(--global-secondary-color);
			}
			width: 45%;
			@media (max-width: 767px) {
				width: 100%;
			}
		}
		&__employeeNumber {
			width: 100%;
			&__info {
				font-size: clamp(1.2rem, 1.5vw, 1.5rem);
				margin: 0;
			}
			&__slider {
				@media (max-width: 767px) {
					display: none;
				}
			}
			&__radio {
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				text-align: center;
				margin: 1rem 0;
				gap: 1rem;
				@media (max-width: 1024px) {
					grid-template-columns: repeat(3, 1fr);
				}
				label {
					border-inline-start-width: 1px;
					border-radius: calc(var(--border-box-radius) * 0.5);
					&::before {
						display: none;
					}
					@media (max-width: 767px) {
						color: var(--global-secondary-color);
					}
				}
			}
			&__cost {
				font-size: clamp(1.2rem, 1.5vw, 1.5rem);
			}
		}
		&__buttonContainer {
			width: 100%;
			button {
				float: right;
			}
		}
		&__button {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 0.5rem;
			background-color: var(--primary-button-color);
			color: var(--fixed-white);
			border: none;
			border-radius: var(--border-button-radius);
			padding: 0.5rem 1rem;
			font-size: clamp(1rem, 1.5vw, 1.2rem);
			font-weight: 600;
			transition: all 0.2s ease-in-out;
			cursor: pointer;
			&:hover {
				box-shadow: 0 0 0 5px color-mix(in oklch, var(--primary-button-color) 50%, transparent);
			}
		}
	}
}

/*FAQ*/

.faq {
	max-width: 1000px;
	margin: 4rem auto;
	border-radius: var(--border-box-radius);
	padding: 1rem;
	h2 {
		font-size: clamp(1.5rem, 2vw, 2rem);
		font-weight: 600;
		margin: 1rem 0;
		color: var(--heading-h2-color);
	}
	.faqQuestion {
		font-weight: 600;
		color: var(--text-paragraph-color);
		font-size: clamp(1rem, 1.5vw, 1.1rem);
	}
	.faqAnswer {
		font-size: clamp(1rem, 1.5vw, 1.1rem);
		text-align: start;
		font-weight: 400;
		color: var(--text-paragraph-color);
	}
}

/*Quick Contact Cards*/

.contactUsCards {
	padding: 1rem;
	border-radius: var(--border-box-radius);
	text-align: center;
	max-width: 1200px;
	margin: 1rem auto;
	h2 {
		@include m.h-two-plus-highlight;
	}
	p {
		font-size: clamp(1rem, 3vw, 1.5rem);
		font-weight: 600;
		margin: 0.5rem 0;
	}
	&__cardContainer {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: stretch;
		gap: clamp(1rem, 2vw, 3rem) clamp(1rem, 2vw, 3rem);
		padding: 5% 0;
		@media (max-width: 767px) {
			flex-direction: column;
		}

		&__card {
			border-radius: var(--border-box-radius);
			background-color: var(--card-background-color);
			border: var(--box-border-color);
			padding: 1rem;
			text-align: center;
			width: 33%;
			@media (max-width: 1024px) {
				width: 100%;
			}
			svg {
				margin: 1rem auto;
				font-size: clamp(2rem, 15vw, 4rem);
				border-radius: 50%;
				color: var(--global-secondary-color);
				background-color: var(--section-backdrop-color);
				border: var(--box-border-color);
				padding: 1rem;
				overflow: visible;
			}
			h2 {
				@include m.h-two-plus-highlight;
				font-size: 1.5rem;
				margin: 1rem 0;
			}
			h3 {
				margin-top: 1rem;
				font-size: 1.3rem;
				font-weight: 700;
				color: var(--global-secondary-color);
			}
			h4 {
				margin-top: 1rem;
				margin-bottom: 0.25rem;
				font-size: 1.3rem;
				font-weight: 600;
				color: var(--heading-h4-color);
			}
			div {
				margin-bottom: 3vh;
			}
			p,
			a {
				margin: 0 !important;
				font-weight: 400;
				font-size: clamp(1.2rem, 2vw, 1.25rem);
			}
			p {
				color: var(--text-paragraph-color);
			}
			a {
				color: var(--link-color);
			}
		}
	}
}

/*Support Side Menu*/

.supportSidebar {
	height: fit-content;
	background-color: var(--section-background-color);
	border-radius: var(--border-box-radius);
	border: var(--box-border-color);
	padding: var(--spacing-xs);
	&::-webkit-scrollbar {
		width: 10px;
	}
	&::-webkit-scrollbar-thumb {
		background-color: #e2e8f0;
		border-radius: calc(var(--border-box-radius) * 0.5);
	}
	&::-webkit-scrollbar-thumb:hover {
		background-color: #e2e8f0;
	}
	&__nav {
		h3 {
			color: var(--global-secondary-color);
			font-size: 1.1rem;
			font-weight: 600;
			margin-bottom: 1rem;
			margin: 1.5rem;
		}

		ul {
			list-style: none;
			padding: 0;
			li {
				margin: 0.25rem 0;
				border-radius: calc(var(--border-box-radius) * 0.5);
				color: var(--nav-link-color);
				transition: all 0.1s ease-in-out;
				position: relative;
				backdrop-filter: none;
				&::before {
					content: "";
					position: absolute;
					bottom: -3px;
					left: 10px;
					display: block;
					width: 90%;
					height: 1px;
					background-color: var(--global-light-gray);
				}
				&:last-child::before {
					height: 0;
				}
				&:hover {
					background-color: var(--section-backdrop-color);
				}
				&.active {
					background-color: color-mix(in oklch, var(--global-primary-color) 10%, transparent);
					color: var(--global-primary-color);
				}
				a {
					text-decoration: none;
					font-size: 1.1rem;
					transition: color 0.2s ease;
					display: block;
					padding: 1rem 1.5rem;
				}
			}
		}
	}
	&__mobileDropdownButton {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		text-align: left;
		gap: 0.5rem;
		font-size: 1.2rem;
		font-weight: 600;
		color: var(--global-secondary-color);
		cursor: pointer;
		border: 1px solid var(--global-secondary-color);
		border-radius: calc(var(--border-box-radius) * 0.75);
		padding: var(--spacing-xs);
		z-index: 2;
	}
}

/*Company Stats*/
.companyStats {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	gap: 2rem;
	&__stat {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		@include m.text-gradient;
		&__number {
			font-size: clamp(2rem, 3vw, 3rem);
			font-weight: 800;
		}
		&__label {
			font-size: clamp(1rem, 1vw, 1.5rem);
			font-weight: 600;
		}
	}
}

.dashcardForm {
	width: 60%;
	@media (max-width: 767px) {
		width: 100%;
	}
	button {
		width: 30%;
		@media (max-width: 767px) {
			width: 100%;
		}
	}
}